<div class="content-bg"></div>
<div class="faq-container">
    <div class="cantainer">
        <h1 class="yellow">FAQ</h1>
        <h2>
            Frequently asked questions
        </h2>
        <p>
            Do you have any questions? We’re here to help.
        </p>
    </div>
    <!-- <div class="container">
        <form (submit)="search()" [formGroup]="searchFormGroup">
            <input placeholder="Search for guides, term, command and more ..." name="query" formControlName="query"/>
            <button type="submit"><img alt="search" src="../../../assets/search.webp"/></button>
        </form>
    </div> -->
    <!-- <div class="container">
        <div class="row faqs">
            <div class="col-md-12 faq-item" *ngFor="let faq of faqs">
                <span class="expander" (click)="expand(faq)">
                    <i class="fa" [ngClass]="{'fa-plus': !faq.open, 'fa-minus': faq.open}"></i>
                </span>
                <p class="question" (click)="expand(faq)">{{faq.question}}</p>
                <p class="answer" *ngIf="faq.open">{{faq.answer}}</p>
            </div>
        </div>
        <a (click)="openContactUs()">Can’t find the answer you’re looking for? Please contact us by email</a>
    </div> -->
</div>