<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>
                    Get in touch with our IT experts for a free 30-minute strategy consultation 
                </h2>
                <p>
                    Let our experts design,develop,deploy,and manage your IT infrastructure 
requirments while you focus on what’s important for your business.
                </p>
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Book a consultation
                </a>
            </div>
            <div class="col-md-3">
                <img src="../../../assets/girl.webp" alt="girl"/>
            </div>
        </div>
    </div>
</div>