<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2 class="black">
                    Looking for the Best IT Business Solutions?
                </h2>
                <p class="black">
                    As an app web crawler expert, We will help to organize.
                </p>
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Get A Qoute
                </a>
            </div>
            <div class="col-md-2">
                <img src="../../../assets/serversmonkey.webp"/>
            </div>
        </div>
    </div>
</div>