<br/>
<br/>
<br/>
<div class="container">
    <h1 style="text-align: center;">
        <small class="yellow">Reboot Monkey</small> <br />
        Stay worry-free with an S.L.A.
    </h1>
    <p style="text-align: center;">
        <br />
        Experience full peace of mind with a Service Level Agreement (S.L.A.) from Reboot Monkey. Stay worry-free with
        a guaranteed high level of service!
    </p>
    <div style="text-align: center;">
        <a (click)="openContactUs()" class="btn-primary">Get in touch</a>
    </div>
    <!-- <form (submit)="search()" [formGroup]="searchFormGroup">
        <input placeholder="Search for guides, term, command and more ..." name="query" formControlName="query" />
        <button type="submit"><img alt="search" src="../../../assets/search.webp" /></button>
    </form> -->
</div>

<div class="container">
    <h2>
        <br />
        <br />
        Full peace of mind with a Service Level Agreement
    </h2>
    <br />
    <p>
        Experience full peace of mind with a Service Level Agreement (S.L.A.) from Reboot Monkey. This contract
        identifies the excellent data center services and high performance you can expect from us. If the agreed level
        of service isn’t met, you can hold us accountable and will get compensated. That’s the benefit of putting
        agreements on paper. A worry-free way of doing business!
    </p>
</div>

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-6">
            <h2>
                What is a <span class="yellow underline">Service
                    Level Agreement?</span>
            </h2>
            <br />
            <p>
                A Service Level Agreement is a contract between a client and a service provider. The contract covers
                specific elements of the delivered service. Think of aspects like quality, availability and reliability.
                The contract identifies who is responsible in case certain criteria aren’t met, and who should
                compensate potential losses.
                <br />
                <br />
                Such an agreement is essential for a professional and accurate collaboration between client and service
                provider. That’s why at Reboot Monkey we strongly recommend making use of an S.L.A.
            </p>
        </div>
        <div class="col-md-6">
            <h2>
                Remote Hands <span class="yellow">SLA</span>
            </h2>
            <br />
            <p>
                Remote hands Service Level Agreements mostly apply to the key infrastructure that is supplied, as well as
                metrics such as power, temperature and the availability of the network. Most data centers give you a
                100% uptime guarantee. The purpose of the remote hands S.L.A. is to identify the client’s expectations
                and service performance levels that will be provided, and offers remedies if the S.L.A. agreements
                aren’t met.
            </p>
        </div>
    </div>
</div>

<div class="bottom-section">
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    What needs to be included in a <span class="yellow">Service Level Agreement?</span>
                </h2>
            </div>
            <div class="col-md-6">
                <br />
                <p>
                    A good S.L.A. should contain the following aspects:
                    <br />
                    <br />
                    <span class="yellow yellow-circle">⬤ </span>&nbsp;The type of services that are provided<br />
                    <span class="yellow yellow-circle">⬤ </span>&nbsp;The performance level of the supplied services, including
                    reliability and availability<br />
                    <span class="yellow yellow-circle">⬤ </span>&nbsp;The monitoring and reporting process <br />
                    <span class="yellow yellow-circle">⬤ </span>&nbsp;How to handle in case of issues with the service<br />
                    <span class="yellow yellow-circle">⬤ </span>&nbsp;Response and resolution time of issues<br />
                    <span class="yellow yellow-circle">⬤ </span>&nbsp;Consequences if the service provider does not meet its
                    commitment<br />
                    <br />
                    <br />

                    If an S.L.A. lacks one or more of the points above, we strongly advise you to talk to your provider
                    about it.
                </p>
            </div>
            <div class="col-md-6">
                <img alt="documents" src="../../../../assets/papers.webp" style="max-width: 305px;display: block;margin: 0 auto;"/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6" style="text-align: left;">
                <h2 style="font-weight: bold;">
                    Why choose an <span class="yellow">S.L.A.</span> from Reboot Monkey?
                </h2>
                <br />
                <p>
                    Unburdening you of your data center worries is our business. In fact, it’s our passion! Next to
                    delivering complete Service Level Agreements that take all your sorrows away, we can help you with
                    all your data center and server-related demands, such as <a [routerLink]="['/services/rack-and-network']" class="yellow">Rack & Network
                        Design</a>, <a [routerLink]="['/services/hardware-monitoring']" class="yellow">Hardware Monitoring</a> and <a  [routerLink]="['/services/hardware-recycling']"
                        class="yellow">Hardware Recycling</a>.


                </p>
                <br />
                <a (click)="openContactUs()" class="yellow">
                    Request more information about Service Level Agreement, tell us about your needs or challenges and
                    let us provide you with information focused on your situation.

                </a>
            </div>
            <div class="col-md-6" style="text-align: left;">
                <h2 class="yellow">
                    At Reboot Monkey, you can expect:
                </h2>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Full supply chain service from
                        A to Z
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Team of experts with a big
                        passion for IT & Hardware
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Varied range of products
                        and services
                    </p>
                </div>
            </div>
            <div class="col-md-12 btns">
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Contact
                </a>
                <a class="btn-primary" (click)="openContactUs()">
                    Start Quote
                </a>
            </div>
        </div>
    </div>
</div>