<div>
  <div class="main-bg-img-sec">
    <div class="partners-slider yellow-bg">
      <rm-logo-particles [logoCount]="66"></rm-logo-particles>
      <div class="partners-slider-track">
        <div class="partner">
          <div class="partner-holder">
            <img class="w-75" src="../../assets/cisco.webp" alt="" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="" src="../../assets/arista.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="small w-50" src="../../assets/hp.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="small w-50" src="../../assets/dell.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="w-75" src="../../assets/cisco.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="" src="../../assets/arista.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="small w-50" src="../../assets/hp.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="small w-50" src="../../assets/dell.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="w-75" src="../../assets/cisco.webp" alt="" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="" src="../../assets/arista.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="small w-50" src="../../assets/hp.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="small w-50" src="../../assets/dell.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="w-75" src="../../assets/cisco.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="" src="../../assets/arista.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="small w-50" src="../../assets/hp.webp" alt="partner" />
          </div>
        </div>

        <div class="partner">
          <div class="partner-holder">
            <img class="small w-50" src="../../assets/dell.webp" alt="partner" />
          </div>
        </div>
      </div>
    </div>
    <div class="priority container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h5 class="underlined">Priority Growth</h5>
            <h2>Sit Relaxed Allowing <span> Reboot Monkey</span> <br />To Fly For You</h2>
            <p>
              Since our inception in 2012, Reboot Monkey has emerged as a
              fully-remote leading force in the IT industry—facilitating
              organizations with hassle-free data center management. Our team of
              professional data center specialists have refined the standards by
              transcending the role of traditional data management. We effectively
              handle, troubleshoot, and enhance your IT Infrastructure, ensuring
              that you don't have to move even an inch. Rest assured as Reboot
              Monkey will fly over to store, manage, and advance your computing
              infrastructure containing business-critical data and applications.
            </p>
            <!-- <h4>
            Results from Clari after 9 months of partnership with Refine Labs.
            See full story <span style="color: #f0de00">here</span>
          </h4> -->
            <div class="figures">
              <div class="item">
                <p class="top-text">22+</p>
                <p>Global Footprints</p>
              </div>
              <div class="item middle">
                <p class="top-text">24+</p>
                <p>Colocation Facilities</p>
              </div>
              <div class="item">
                <p class="top-text">70+</p>
                <p>Reboot Monkeys</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid solutions">
      <!-- <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h5 class="underlined">Server Colocation Excellence</h5>
            <h2>Colocation Server Hosting Solutions</h2>
            <div class="cards">
              <div class="card">
                <div class="head">
                  <div class="img">
                    <img src="../../../assets/Group 3102.webp" alt="" />
                  </div>
                  <h2>Quarter Rack</h2>
                </div>
                <p>10U</p>
                <div class="items">
                  <div class="item">
                    <img src="../../../assets/rack.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Units</p>
                      <p>10U</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/server-power.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Power Feeds</p>
                      <p>Single</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/server-location search.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">IP Address</p>
                      <p>/29 (8 IPs)</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/server-speed.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Network Speed</p>
                      <p>1 Gbps</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/smart-hand-2-service.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Smart Hands</p>
                      <p>Basic</p>
                    </div>
                  </div>
                </div>
                <h3>$600/month</h3>
                <button class="btn-primary outlined" (click)="openContactUs()">
                  Order Now
                </button>
              </div>
              <div class="card">
                <div class="head">
                  <div class="img">
                    <img src="../../../assets/Group 3102 (1).webp" alt="" />
                  </div>
                  <h2>Half Rack</h2>
                </div>
                <p>20U</p>
                <div class="items">
                  <div class="item">
                    <img src="../../../assets/rack.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Units</p>
                      <p>20U</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/server-power.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Power Feeds</p>
                      <p>Dual</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/server-location search.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">IP Address</p>
                      <p>/28 (16 IPs)</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/server-speed.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Network Speed</p>
                      <p>10 Gbps</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/smart-hand-2-service.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Smart Hands</p>
                      <p>Standard</p>
                    </div>
                  </div>
                </div>
                <h3>$800/month</h3>
                <button class="btn-primary outlined" (click)="openContactUs()">
                  Order Now
                </button>
              </div>
              <div class="card">
                <div class="head">
                  <div class="img">
                    <img src="../../../assets/Group 3105.webp" alt="" />
                  </div>
                  <h2>Full Rack</h2>
                </div>
                <p>42U</p>
                <div class="items">
                  <div class="item">
                    <img src="../../../assets/rack.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Units</p>
                      <p>42U</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/server-power.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Power Feeds</p>
                      <p>Redundant</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/server-location search.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">IP Address</p>
                      <p>/27 (32 IPs)</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/server-speed.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Network Speed</p>
                      <p>25 Gbps</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/smart-hand-2-service.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Smart Hands</p>
                      <p>Advanced</p>
                    </div>
                  </div>
                </div>
                <h3>$1600/month</h3>
                <button class="btn-primary outlined" (click)="openContactUs()">
                  Order Now
                </button>
              </div>
              <div class="card">
                <div class="head">
                  <div class="img">
                    <img src="../../../assets/Corridor server.webp" alt="" />
                  </div>
                  <h2>Corridor (custom)</h2>
                </div>
                <p>Custom</p>
                <div class="items">
                  <div class="item">
                    <img src="../../../assets/rack.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Units</p>
                      <p>Custom (U space varies)</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/server-power.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Power Feeds</p>
                      <p>Tailored</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/server-location search.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">IP Address</p>
                      <p>Custom Allocation</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/server-speed.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Network Speed</p>
                      <p>Negotiable</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../../../assets/smart-hand-2-service.webp" alt="" />
                    <div class="info">
                      <p style="color: #e0dede">Smart Hands</p>
                      <p>Comprehensive</p>
                    </div>
                  </div>
                </div>
                <h3>Custom quote</h3>
                <button class="btn-primary outlined" (click)="openContactUs()">
                  Order Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- old start -->
      <div class="container services">
        <div class="row">
          <div class="col-md-12">
            <h5 class="underlined">Services</h5>
            <h2>
              Our Innovation-Driven <span class="yellow">Data Center</span> <br />
              <span class="yellow">Management</span> Services
            </h2>
            <p>
              Reboot Monkey offers fully remote data center management services
              and solutions to ensure ultra-fast procurement, deployment,
              operation, or even disposition of your critical digital data. All
              your data center needs met, worries dissolved.
            </p>
            <div id="owlCarousel" class="carousel slide container">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/1 HANDS.webp" alt="services" />
                        </div>
                        <h3>Smart Hands</h3>
                        <p>
                          Skilled technicians to manage data centers, covering
                          troubleshooting.
                        </p>
                        <a [routerLink]="['/services/smart-hands']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/remote1.webp" alt="services" />
                        </div>
                        <h3>Remote Hands</h3>
                        <p>
                          Dedicated team, available round-the-clock to be stationed at
                          your data center
                        </p>
                        <a [routerLink]="['/services/remote-hands']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/data destroying.webp" alt="services" />
                        </div>
                        <h3>Data Destroying</h3>
                        <p>
                          Secure and irreversible erasure of sensitive information from
                          any type of hardware,
                        </p>
                        <a [routerLink]="['/services/data-destroying']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/hardware recycle.webp" alt="services" />
                        </div>
                        <h3>Hardware Recycling</h3>
                        <p>
                          Careful extraction of valuable materials from outdated or
                          non-functional hardware
                        </p>
                        <a [routerLink]="['/services/hardware-recycling']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/monitring.webp" alt="services" />
                        </div>
                        <h3>Hardware Monitoring</h3>
                        <p>
                          Real-time oversight and management of data center hardware servers
                        </p>
                        <a [routerLink]="['/services/hardware-monitoring']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/newwork design.webp" alt="services" />
                        </div>
                        <h3>Rack and Network Designing</h3>
                        <p>
                          Tailored rack and network design for optimal layout
                        </p>
                        <a [routerLink]="['/services/rack-and-network']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/rack & stack.webp" alt="services" />
                        </div>
                        <h3>Rack and Stack</h3>
                        <p>
                          Skilled placement, connection, and setup of critical servers, networking gear, and other
                        </p>
                        <a [routerLink]="['/services/rack-and-stack']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/Data Center Migration.webp" alt="services" />
                        </div>
                        <h3>Data Center Migration</h3>
                        <p>
                          Comprehensive planning, coordination, and execution of small to big size data center
                        </p>
                        <a [routerLink]="['/services/data-center-migration']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/Data Center Migration 2.webp" alt="services" />
                        </div>
                        <h3>Data Center Decommissioning</h3>
                        <p>
                          Effective dismantling of servers, networking
                        </p>
                        <a [routerLink]="['/services/data-center-decomissioning']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/Data Center Migration.webp" alt="services" />
                        </div>
                        <h3>Server Migration</h3>
                        <p>
                          Complete planning and execution to move the physical servers with minimal
                        </p>
                        <a [routerLink]="['/services/server-migration']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/backup.webp" alt="services" />
                        </div>
                        <h3>Server Migration</h3>
                        <p>
                          Complete planning and execution to move the physical servers with minimal
                        </p>
                        <a [routerLink]="['/services/server-migration']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/Managed Colocation.webp" alt="services" />
                        </div>
                        <h3>Managed Colocation</h3>
                        <p>
                          Green-powered facility to house and manage your data center equipment, freeing you
                        </p>
                        <a [routerLink]="['/colocation']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/ip new.webp" alt="services" />
                        </div>
                        <h3>IP Transit</h3>
                        <p>
                          High-performance network with latency consistently below 300 ms,
                        </p>
                        <a [routerLink]="['/Solutions/ip-transit']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item">
                    <div class="boxes">
                      <div class="box">
                        <div class="img">
                          <img src="../../../assets/sla 1.webp" alt="services" />
                        </div>
                        <h3>S.L.A</h3>
                        <p>
                          Service Level Agreement solutions for businesses seeking reliable data center
                        </p>
                        <a [routerLink]="['/Solutions/sla']">See more</a>
                      </div>
                    </div>
                  </div>
                </ng-template>

              </owl-carousel-o>
            </div>
            <!-- <div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
              <div class="carousel-inner w-100">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide>
                    <div class="carousel-item">
                      <div class="col-md-4 boxes">
                        <div class="box">
                          <div class="img">
                            <img src="../../../assets/1 HANDS.webp" alt="services" />
                          </div>
                          <h3>Smart Hands</h3>
                          <p>
                            Skilled technicians to manage data centers, covering
                            troubleshooting.
                          </p>
                          <a href="#">See more</a>
                        </div>
                      </div>
                    </div>
                  </ng-template>  
                  <ng-template carouselSlide>
                    <div class="carousel-item">
                      <div class="col-md-4 boxes">
                        <div class="box">
                          <div class="img">
                            <img src="../../../assets/remote1.webp" alt="services" />
                          </div>
                          <h3>Remote Hands</h3>
                          <p>
                            Dedicated team, available round-the-clock to be stationed at
                            your data center
                          </p>
                          <a href="#">See more</a>
                        </div>
                      </div>
                    </div>
                  </ng-template>  
                  <ng-template carouselSlide>
                    <div class="carousel-item">
                      <div class="col-md-4 boxes">
                        <div class="box">
                          <div class="img">
                            <img src="../../../assets/data destroying.webp" alt="services" />
                          </div>
                          <h3>Data Destroying</h3>
                          <p>
                            Secure and irreversible erasure of sensitive information from
                            any type of hardware,
                          </p>
                          <a href="#">See more</a>
                        </div>
                      </div>
                    </div>
                  </ng-template>  
                  <ng-template carouselSlide>
                    <div class="carousel-item">
                      <div class="col-md-4 boxes">
                        <div class="box">
                          <div class="img">
                            <img src="../../../assets/hardware recycle.webp" alt="services" />
                          </div>
                          <h3>Hardware Recycling</h3>
                          <p>
                            Careful extraction of valuable materials from outdated or
                            non-functional hardware
                          </p>
                          <a href="#">See more</a>
                        </div>
                      </div>
                    </div>
                  </ng-template> 
                </owl-carousel-o>
                <div class="carousel-item active">
                  <div class="col-md-4 boxes">
                    <div class="box">
                      <div class="img">
                        <img src="../../../assets/1 HANDS.webp" alt="services" />
                      </div>
                      <h3>Smart Hands</h3>
                      <p>
                        Skilled technicians to manage data centers, covering
                        troubleshooting.
                      </p>
                      <a href="#">See more</a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-md-4 boxes">
                    <div class="box">
                      <div class="img">
                        <img src="../../../assets/remote1.webp" alt="services" />
                      </div>
                      <h3>Remote Hands</h3>
                      <p>
                        Dedicated team, available round-the-clock to be stationed at
                        your data center
                      </p>
                      <a href="#">See more</a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-md-4 boxes">
                    <div class="box">
                      <div class="img">
                        <img src="../../../assets/data destroying.webp" alt="services" />
                      </div>
                      <h3>Data Destroying</h3>
                      <p>
                        Secure and irreversible erasure of sensitive information from
                        any type of hardware,
                      </p>
                      <a href="#">See more</a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-md-4 boxes">
                    <div class="box">
                      <div class="img">
                        <img src="../../../assets/hardware recycle.webp" alt="services" />
                      </div>
                      <h3>Hardware Recycling</h3>
                      <p>
                        Careful extraction of valuable materials from outdated or
                        non-functional hardware
                      </p>
                      <a href="#">See more</a>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- old end -->
      <!-- new start -->

      <!-- new end -->
    </div>
  </div>
</div>