<div>
  <div class="unique container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5 class="underlined">Reliability</h5>
          <h2>
            <span class="yellow"> Reboot Monkey,</span>
            <br />
            Your Ultimate Powerhouse
          </h2>
          <p class="desc">
            Fully Remote, round-the-clock management with no supervision
            hassles. It's all that you need for your data center, right? Reboot
            Monkey makes it possible.
            <br /><br />
            We innovate the benchmarks of data center management, setting
            ourself apart as the preeminent ally for businesses navigating the
            IT landscape. Our commitment to excellence is not just a promise but
            a tangible reality embodied in every facet of our data center
            management solutions and services. As your trusted partner, here's
            what we offer:
          </p>
          <div class="list">
            <div class="item">
              <img src="../../assets/rs1.webp" alt="innovative-img" />
              <p>Complete Management and Supervision Responsibility</p>
            </div>
            <div class="item">
              <img src="../../assets/rs2.webp" alt="innovative-img" />
              <p>24 Worldwide Green-Powered Data Center Facilities</p>
            </div>
            <div class="item">
              <img src="../../assets/rs3.webp" alt="innovative-img" />
              <p>Highly Secure, Scalable & Redundant Infrastructure</p>
            </div>
            <div class="item">
              <img src="../../assets/rs4.webp" alt="innovative-img" />
              <p>4,400 Raised Square Footage with +40MW IT Load</p>
            </div>
            <div class="item">
              <img src="../../assets/rs5.webp" alt="innovative-img" />
              <p>Smart Hands and Remote Hands for 24/7 Support</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 img">
          <img src="../../assets/Group 3091.webp" alt="innovative-img" />
        </div>
      </div>
    </div>
  </div>
  <div class="unique container-fluid-2 px-3 py-2" > 
<div class="container">
  <div class="main1">
    <div class="container1">
      <div class="box-1">
        <div class="line2">
          
        </div>
      </div>
      <div class="main-box">
          <div class="content">
            <h5 class="underlined">Innovative</h5>
            <h2>We’re Trusted By World's Top Companies Because…</h2>
            <p>Our motto is to navigate the data center landscape effortlessly on your behalf.Our Smart Hands and Remote Hands simplify yours data center management, ensuring 24/7 availability to handle technical tasks like troubleshooting and maintenance, all from a safe and secure facility. it's like having a reliable team on standby, ensuring your data center runs smoothly without you having to be there. With us, managing your data center becomes straightforward and stress-free.</p>
              <a href="#">See more</a>
          </div>
          <div class="img1">
              <img src="../../assets/Monitoring 1.webp" alt="">
          </div>
      </div>
      <div class="box-2">
        <div class="child-of-box2">
          <div class="line">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
  <!-- <div class="changing-width">
  <div class="testimonial container-fluid">
    <div class="container">
      <div class="row">
        <div class="sec-top-text">
          <h5 class="underlined">Testimonials</h5>
          <h2>Happy Clients Who’re Loving <br> <span> Reboot Monkey</span></h2>
          <p>
            Reboot Monkey was established to make an impactful difference in the industry, ensuring convenience <br>and
            reliability in data center operations. Our testimonials speak volumes about how we did it!
          </p>
        </div>

        
        <div id="owlCarouselReviews" class="client-reviews-cards-carousel">
          <owl-carousel-o [options]="customOptionsNew">
            <ng-template carouselSlide>
              <div class="client-card">
                <img src="../../assets/qouted icon.webp" class="test-top-icon" alt="">
                <h3>Excellent Support</h3>
                <p>survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                  unchanged. It was popularised in the 1960s with the release of</p>
                <div class="client-profile">
                  <div class="clint-img">
                    <img src="../../assets/Ellipse 4.webp" alt="">
                  </div>
                  <div class="client-name">
                    <h4>Alexy Sily</h4>
                    <p class="client-post">Ceo & Cto</p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="client-card">
                <img src="../../assets/qouted icon.webp" class="test-top-icon" alt="">
                <h3>Excellent Support</h3>
                <p>survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                  unchanged. It was popularised in the 1960s with the release of</p>
                <div class="client-profile">
                  <div class="clint-img">
                    <img src="../../assets/Ellipse 4.webp" alt="">
                  </div>
                  <div class="client-name">
                    <h4>Alexy Sily</h4>
                    <p class="client-post">Ceo & Cto</p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="client-card">
                <img src="../../assets/qouted icon.webp" class="test-top-icon" alt="">
                <h3>Excellent Support</h3>
                <p>survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                  unchanged. It was popularised in the 1960s with the release of</p>
                <div class="client-profile">
                  <div class="clint-img">
                    <img src="../../assets/Ellipse 4.webp" alt="">
                  </div>
                  <div class="client-name">
                    <h4>Alexy Sily</h4>
                    <p class="client-post">Ceo & Cto</p>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      

        
         <div class="client-reviews-cards">
          <div class="client-card">
            <img src="../../assets/qouted icon.webp" class="test-top-icon" alt="">
            <h3>Excellent Support</h3>
            <p>survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
              unchanged. It was popularised in the 1960s with the release of</p>
            <div class="client-profile">
              <div class="clint-img">
                <img src="../../assets/Ellipse 4.webp" alt="">
              </div>
              <div class="client-name">
                <h4>Alexy Sily</h4>
                <p class="client-post">Ceo & Cto</p>
              </div>
            </div>
          </div>
          <div class="client-card">
            <img src="../../assets/qouted icon.webp" class="test-top-icon" alt="">
            <h3>Excellent Support</h3>
            <p>survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
              unchanged. It was popularised in the 1960s with the release of</p>
            <div class="client-profile">
              <div class="clint-img">
                <img src="../../assets/Ellipse 4.webp" alt="">
              </div>
              <div class="client-name">
                <h4>Alexy Sily</h4>
                <p class="client-post">Ceo & Cto</p>
              </div>
            </div>
          </div>
          <div class="client-card">
            <img src="../../assets/qouted icon.webp" class="test-top-icon" alt="">
            <h3>Excellent Support</h3>
            <p>survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
              unchanged. It was popularised in the 1960s with the release of</p>
            <div class="client-profile">
              <div class="clint-img">
                <img src="../../assets/Ellipse 4.webp" alt="">
              </div>
              <div class="client-name">
                <h4>Alexy Sily</h4>
                <p class="client-post">Ceo & Cto</p>
              </div>
            </div>
          </div>
        </div> -->



        <!-- <button _ngcontent-serverapp-c120="" class="btn-primary outlined"> See more </button> -->
      
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->


