<br/>
<br/>
<br/>
<div class="container">
    <h1 style="text-align: center;">
        <small class="yellow">Reboot Monkey</small> <br />
        Let us take care of your IP Transit
    </h1>
    <p style="text-align: center;">
        <br />
        No matter the type of product or service that you offer on the Internet, you will need IP transit in some form.
        We can easily help you out with that!
    </p>
    <div style="text-align: center;">
        <a (click)="openContactUs()" class="btn-primary">Get in touch</a>
    </div>
    <!-- <form (submit)="search()" [formGroup]="searchFormGroup">
        <input placeholder="Search for guides, term, command and more ..." name="query" formControlName="query" />
        <button type="submit"><img alt="search" src="../../../assets/search.webp" /></button>
    </form> -->
</div>

<div class="container">
    <h2>
        <br />
        <br />
        IP Transit services at Reboot Monkey
    </h2>
    <br />
    <p>
        Looking for IP Transit services for your company? Look no further! Our network allows you to add additional
        capacity for client requirements both today and tomorrow. We have also rationalized our growing network, and
        clients should already see the benefits of reduced latency. As with any of our core POPs, we can offer a number
        of services from this site, including: IP Transit, Point to Point MPLS, Point to Multipoint VPLS and default
        DDOS protection.
    </p>
</div>

<div class="wires">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    What exactly is IP Transit?
                </h2>
                <br />
                <p>
                    The Internet is like a set of globally interconnected networks that speak a common language (or
                    protocols) to exchange data and information, and an IP address is the numeric identifier that makes
                    it possible for a device to be reached by other devices on the Internet. When you wish to send or
                    receive data or information through the Internet, you need to pass through (or ‘transit’) one or
                    more third-party networks in order to reach the final destination.
                    <br />
                    <br />
                    IP transit then, is the service where an Internet Service Provider (I.S.P.) makes it possible for
                    traffic and data to travel through the network to reach the final destination.
                    <br />
                    <br />
                    No matter the type of product or service that you offer on the Internet, you will need IP transit in
                    some form.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bottom-section">
    <div class="container">
        <h2>
            Why IP Transit matters: the benefits
        </h2>
        <br />
        <p>
            If you want access to all Internet routes, you need to directly connect with all autonomous systems. To do
            so, you need an IP transit service. Besides having access to the Internet, a good IP transit service
            provides you with:
            <br />
            <br />
            <span class="yellow yellow-circle">⬤ </span>&nbsp;Sublime Peering<br />
            <span class="yellow yellow-circle">⬤ </span>&nbsp;Instant Accessibility to the infrastructure<br />
            <span class="yellow yellow-circle">⬤ </span>&nbsp;Surplus Connectivity <br />
            <span class="yellow yellow-circle">⬤ </span>&nbsp;Availability of Routing Table<br />
            <span class="yellow yellow-circle">⬤ </span>&nbsp;Customization and Scalability<br />
            <span class="yellow yellow-circle">⬤ </span>&nbsp;Low latencies across the planet<br />

        </p>
    </div>
    <div class="container">
        <h2>
            IP Transit: costs and pricing
        </h2>
        <br />
        <p>
            The total costs for your IP transit are determined by the number of uplinks that you wish to receive from us
            and the amount of traffic that you want to be able to travel through the network.
            <br />
            <br />
            It’s therefore hard to give you a cost indication, without knowing your personal situation. Would you like
            to know more about the possibilities and costs of IP transit? <a (click)="openContactUs()" class="yellow">Feel free to
                contact us for personalized advice!</a>
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="text-align: left;">
                <h2 style="font-weight: bold;">
                    Why choose Reboot Monkey for
                    your IT Transit?
                </h2>
                <br />
                <p>
                    Taking the burden regarding your data center needs off your shoulders is our business. Well, not
                    just our business. It’s our passion. Our team of IT professionals loves to get to know you and your
                    needs better, in order to provide you with the best possible products and/or services you require.
                </p>
                <br />
                <a  (click)="openContactUs()" class="yellow">
                    Request more information about IP Transit, tell us about your needs or challenges and let us provide
                    you with information focused on your situation.
                </a>
            </div>
            <div class="col-md-6" style="text-align: left;">
                <h2 class="yellow">
                    At Reboot Monkey, you can expect:
                </h2>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        One partner for all your data
                        center needs
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Team of professionals with passion
                        for Hardware & IT
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Wide range of products, services
                        and support
                    </p>
                </div>
            </div>
            <div class="col-md-12 btns">
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Contact
                </a>
                <a class="btn-primary" (click)="openContactUs()">
                    Start Quote
                </a>
            </div>
        </div>
    </div>
</div>