<div class="content-bg"></div>
<div class="about-container">
    <!-- <div class="cantainer">
        <h1 class="yellow">About our mission</h1>
        <h2>
            This is Reboot Monkey
        </h2>
        <p>
            The Associate certification indicates a foundational knowledge of
            <br />
            critical physical infrastructure in the Data Center.
        </p>
    </div> -->
    <rm-video></rm-video>
    <div class="container">
        <h3 class="yellow big-title">
            The Right Team
        </h3>
        <p class="big-text">
            We are a team of IT professionals that have been in IT since 1996. We started and sold multiple IT companies
            and helped a lot of other startups and <span class="yellow">enterprises</span> flourish. We administered,
            managed and developed the internet to how it is shaped today.
            <br />
            <br />
            Because of the cloud, hardware management became more and more distant in our line of work. We missed the
            flickering HDD lights, the fiber optics and the wow factor it gives us when we replace a 4TB disk with an
            18TB disk. This is why we started <span class="yellow">Reboot Monkey</span>, to help other companies with
            their datacenter hardware needs.
        </p>
    </div>
    <div class="content-bg-lower"></div>
</div>