@import "../../variables.scss";

.gradient {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $black;
  background: linear-gradient(
    to right,
    $primaryColor,
    $primaryColor 60%,
    transparent 40%,
    transparent
  );
  font-weight: bold;
  h2 {
    color: $black;
    font-weight: bolder;
    margin-bottom: 30px;
    white-space: nowrap;
    
  }
  a {
    color: $primaryColor !important;
    background: $black;
    margin-bottom: 30px;
  }
}
span {
  font-size: 36px;
}

.monkey-cage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-template-rows: repeat(auto-fill, 40px);
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  overflow: hidden;
  z-index: 0;

  @media (max-width: 400px) {
    display: none;
  }
  .monkey {
    position: absolute;
    width: 40px;
    opacity: 0.2;
  }
}

.yellow-bg {
  background-color: $primaryColor;
  padding: 60px 40px 80px 40px;
  position: relative;
  z-index: 1;

  .row {
    display: flex;
    align-items: center;

    * {
      color: #000;
      // font-weight: bold;
      z-index: 1000;
    }
    h2{
      font-weight: bolder;
    }
    p{
      font-size: 24px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 36px;
    }
  }
}

@media (max-width: 768px) {
  .gradient {
    background: $primaryColor;
  }
  .container-fluid.yellow-bg .row {
    flex-direction: column-reverse;
}
}


// logo generated 
.logo {
  position: absolute;
  width: 45px;
  transition: top 1s, left 1s; 
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}
.logo-particles {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  user-select: none;
  pointer-events: none;
}
.yellow-bg {
  position: relative; 
  overflow: hidden;
}

//landing css
@media (min-width: 991px) and (max-width: 4000px){
  div#grid-monkey {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .grid-monkey-img {
    max-width: 550px;
  }
}

@media (max-width: 1000px) {
  .yellow-bg {
    background-color: $primaryColor;
    padding: 25px 0 !important;
    position: relative;
    z-index: 1;
  
    .row {
      display: flex;
      align-items: center;
  
      * {
        color: #000;
        // font-weight: bold;
        z-index: 1000;
      }
      h2{
        font-weight: bolder;
      }
      p{
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 36px;
      }
    }
  }
}

