<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md counter">
                <strong>
                    <h2>
                        300+
                    </h2>
                    <p>
                        Avalible reboot
                        <br />
                        monkey at your services
                    </p>
                </strong>
            </div>
            <div class="col-md counter">
                <strong>
                    <h2>
                        290+
                    </h2>
                    <p>
                        Saving datacenters
                    </p>
                </strong>
            </div>
            <div class="col-md counter">
                <strong>
                    <h2>
                        440+
                    </h2>
                    <p>
                        CO2 m2 saved
                    </p>
                </strong>
            </div>
        </div>
    </div>
</div>