<div class="container-fluid yellow-bg">
  <rm-logo-particles [logoCount]="60"></rm-logo-particles>
  <div class="container">
    <div class="section-header row">
      <div class="col-lg-8 text-aline-fix-sec">
        <div>
          <nav class="beardcumb"
            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
              <li class="breadcrumb-item"><a [routerLink]="['/services']">Services</a></li>
              <li class="breadcrumb-item active" aria-current="page">Data Center Decommissioning</li>
            </ol>
          </nav>
          <h1 class="heading">Data Center Decommissioning Services</h1>
          <p>
            We offer end-to-end data center decommissioning services, providing a seamless solution for organizations
            looking to retire outdated facilities. From strategic planning to sustainable disposal, our server
            decommission process ensures a smooth transition while addressing all aspects of decommissioning.
          </p>
          <a class="btn-primary btn-get-quote black outlined center-deco-btn theme-banner-btn"
            (click)="openContactUs()">
            Get A Quote
          </a>
        </div>
      </div>
      <div class="col-lg-4 img-aline-fix-sec">
        <img class="header-img" src="../../../assets/decomissioning.webp" />
      </div>
    </div>
  </div>
</div>
<div class="container service-text">
  <div class="row">
    <div class="col-lg-4">
      <img class="butler" src="../../../assets/butler.webp" />
    </div>
    <div class="col-lg-8 service-text-description">
      <p style="margin-top: 60px">
        Our expert team offers end-to-end data center decommission services, combining hands-on technical proficiency
        with remote assistance to ensure a smooth and secure server decommission process. Trust us to efficiently manage
        everything while you focus on your core business. Rest assured that we’ll handle the complexities of data center
        decommissioning your outdated data center facility with precision, efficiency, and security.
      </p>
    </div>
  </div>
</div>
<div class="half-bg-imag">
  <div class="container-fluid service-cover-text">
    <div class="container">
      <h2>
        Responsible Farewell for a <br />
        Resourceful Future

      </h2>
      <div class="buton-aline-set">
        <a class="btn-primary outlined" (click)="openContactUs()">
          Get Started
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 text-aline-center">
        <br />
        <br />
        <h2 class="bold">Your Trusted Partner For Data Center Decommissioning</h2>
        <p class="hovr-box-text">We specialize in end-to-end data center decommissioning—expertly planned, executed, and
          committed to security, safety, and environmental responsibility. We carefully handle data center recycling,
          data center asset disposal, data center asset management, data center liquidation, and all aspects of your
          data center decommissioning, covering:</p>
      </div>
      <div class="col-lg-12">
        <div class="row service-list">
          <div class="col-lg-4">
            <div class="service-list-item">
              <img src="../../../assets/Warning Shield.webp" />
              <div>
                <strong class="top-heading"> IT Equipment<br>
                  Removal </strong>
                <p class="bottom-text">
                  Servers, storage devices, networking equipment, and other hardware are carefully disconnected,
                  disassembled, and removed. We do it with precision to minimize disruptions and potential damage,
                  ensuring a seamless transition.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-list-item">
              <img src="../../../assets/Secure.webp" />
              <div>
                <strong class="top-heading"> Secure Data <br>
                  Migration </strong>
                <p class="bottom-text">
                  Securely migrates your data to its new destination, implementing thorough sanitization measures to
                  irreversibly remove sensitive information from decommission data center equipment. We adhere to
                  privacy regulations, ensuring confidentiality.`

                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-list-item">
              <img src="../../../assets/Page.webp" />
              <div>
                <strong class="top-heading"> Documentation & <br>
                  Auditing </strong>
                <p class="bottom-text">
                  Maintain comprehensive documentation at each step, covering records of equipment removal, data
                  migration, and overall challenges. We also examine access points, data sanitization protocols, and
                  overall compliance with security standards.
                </p>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
  <div class="container-fluid contact">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p>

            Reboot Monkey is all-time available to provide you with comprehensive guidance, data center asset
            management, tailored to your specific data center decommissioning needs and challenges. Whether you are
            planning to retire an outdated facility, migrate to a new infrastructure, or optimize your data center
            resources, our consultation services offer the expertise and support you need. Make an informed decision
            with our insights


          </p>
          <a class="btn-primary outlined" (click)="openContactUs()">
            Let’s Talk
          </a>
        </div>
        <div class="col-md-5">
          <img src="../../../assets/girl-thinker.webp" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="partners-slider">
  <rm-logo-particles [logoCount]="66"></rm-logo-particles>
  <div class="partners-slider-track">
    <div class="partner">
      <div class="partner-holder">
        <img class="w-75" src="../../../assets/cisco.webp" alt="" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="" src="../../../assets/arista.webp" alt="partner" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="small w-50" src="../../../assets/hp.webp" alt="partner" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="small w-50" src="../../../assets/dell.webp" alt="partner" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="w-75" src="../../../assets/cisco.webp" alt="partner" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="" src="../../../assets/arista.webp" alt="partner" />
      <div class="partner-holder">
        <img class="small w-50" src="../../../assets/hp.webp" alt="partner" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="small w-50" src="../../../assets/dell.webp" alt="partner" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="w-75" src="../../../assets/cisco.webp" alt="" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="" src="../../../assets/arista.webp" alt="partner" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="small w-50" src="../../../assets/hp.webp" alt="partner" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="small w-50" src="../../../assets/dell.webp" alt="partner" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="w-75" src="../../../assets/cisco.webp" alt="partner" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="" src="../../../assets/arista.webp" alt="partner" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="small w-50" src="../../../assets/hp.webp" alt="partner" />
      </div>
    </div>

    <div class="partner">
      <div class="partner-holder">
        <img class="small w-50" src="../../../assets/dell.webp" alt="partner" />
      </div>
    </div>
  </div>
</div>
<div>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Service",
      "name": "IT Data Center Decommissioning Services & Solution",
      "description": "Reboot Monkey: Your premier choice for IT Data Center Decommissioning Services & Solutions. We specialize in data center decommissioning, recycling, and asset management, providing a seamless server decommission process. Choose us for a reliable and efficient approach to retiring your data center infrastructure.",
      "provider": {
        "@type": "Organization",
        "name": "Reboot Monkey",
        "url": "https://rebootmonkey.com/",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Tappersweg 10F",
          "postalCode": "2031 ET",
          "addressLocality": "Haarlem",
          "addressRegion": "North Holland",
          "addressCountry": "Netherlands"
        },
        "telephone": "+31 23 456 8188",
        "keywords": [
          "Data Center Decommissioning",
          "data center decommissioning services",
          "data center recycling",
          "data center asset disposal",
          "Decommission data center",
          "data center asset management",
          "server decommission process",
          "data center liquidation"
        ]
      },
      "url": "https://rebootmonkey.com/services/data-center-decommissioning",
      "provider": {
        "@type": "Organization",
        "name": "Reboot Monkey",
        "url": "https://rebootmonkey.com/"
      }
    }
    </script>
</div>
<!-- <rm-partners></rm-partners> -->