<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/young-business-engineer-with-tablet-medium-shot.webp" />
            </div>
            <div class="col-md-8" style="padding-top: 30px;">
                <h5 class="underlined" style="margin-bottom: 10px;">
                    Our products
                </h5>
                <h2 style="font-size: 34px; margin-bottom: 10px;">
                    Your (remote) pair of expert hands for any task
                </h2>
                <p>
                    At Reboot Monkey, we offer a full range of services. Below you’ll find a brief overview of these
                    services. Of course we can also provide you with customized services.
                </p>
                <div class="row">
                    <div class="col-md product">
                        <img src="../../../assets/products/Rack Servers icon.webp"/>
                        <strong>
                            Colocation
                        </strong>
                    </div>
                    <div class="col-md product">
                        <img src="../../../assets/products/IP Transit icon.webp"/>
                        <strong>
                            IP Transit
                        </strong>
                    </div>
                    <div class="col-md product">
                        <img src="../../../assets/products/SLA icon.webp"/>
                        <strong>
                            S.L.A.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>