
<div class="bg-section">

    <div class="container" style="margin-top: 100px;">
        <h2 style="text-align: left;">
            <span class="yellow">Hardware Monitoring</span> for your company
            <br />
            <br />
        </h2>
        <div class="row">
            <div class="col-md-6">
                <p style="text-align: justify;">
                    Installing and setting up your hardware in a data center is one thing.  But to also monitor the hardware and troubleshoot when necessary…hat’s a whole different kind of cookie. 
<br/>
<br/>
In fact: it can be a huge burden for many companies. We can take this burden out of your hands, by proactively monitoring your hardware 24/7.
                </p>
            </div>
            <div class="col-md-6">
                <p style="text-align: justify;">
                    We can even keep an eye on your management interfaces and send or direct technicians before any trouble occurs. 
<br/><br/>
                    That way, you don’t need to worry about the logistics, maintenance or the replacement of your hardware infrastructure and instead focus on what’s really important for your company.
                </p>
            </div>
        </div>
    </div>

    <div class="why-section1">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2>
                        What do we mean by <span class="yellow">Hardware Monitoring?</span>
                    </h2>
                    <br />


                    <p>
                        Hardware Monitoring is the process of checking the functioning of physical hardware on which your business might heavily rely. You can choose to monitor your hardware yourself (or delegate it to your IT department), or let us do it for you.
<br/><br/>
This helps avoid any expensive repairs and prevents common problems like overheating, which could cause serious damage for your hardware. Successful hardware monitoring ensures that the performance of your systems is optimal both today and in the future. 

                    </p>

                </div>
            </div>
        </div>
    </div>

</div>


<div class="why-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <span class="yellow">The benefits</span> of Hardware Monitoring for your company
                </h2>
                <br />


                The benefits of hardware monitoring are numerous. Monitoring your hardware 24/7 means that:
<br/>
<br/>
                <div class="bullet-holder"><span class="yellow yellow-circle">⬤ </span>&nbsp;You prevent any hardware failure that might occur, which could lead to serious profit-loss and 
                     high repairing costs.</div>
<br/>
                
                <div class="bullet-holder"><span class="yellow yellow-circle">⬤ </span>&nbsp;You optimize resource utilization, to make the most out of your hardware systems.</div>
<br/>
                
                 <div class="bullet-holder"><span class="yellow yellow-circle">⬤ </span>&nbsp;You don’t have to worry about any of the monitoring or troubleshooting issues, and instead focus 
                     on more important tasks within your company.</div>
<br/>
<br/>
                
                Interested in knowing more about the benefits of hardware monitoring for your company? 
                <a (click)="openContactUs()" class="yellow">Feel free to contact us for more information and free advice!</a>

            </div>
        </div>
    </div>
</div>





<div class="second-section">
    <div class="container">
        <div class="row" style="margin: 100px 0;">
            <div class="col-md-12">
                <h2>
                    Why Hardware Monitoring really matters 
                </h2>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        Your hardware systems are expensive in more than just one way. The purchase itself, of course, is quite an investment. But when your company heavily relies on the functioning of the hardware, a hardware shut-down could cost serious money if you don’t have it fixed right away. 
                    </div>
                    <div class="col-md-6">
                        We’ll take on this task and ensure that your hardware, and therefore your business, can continue to function and flourish the way it should. 
                    </div>
                </div>
            </div>
        </div>
        <div class="row breakdown">
            <div class="col-md-5">
                <h2>
                    Why Hardware Monitoring at Reboot Monkey is your best pick
                </h2>
                <br />
                <p>
                    Our team of IT professionals loves to unburden you in your data center needs and challenges. We’ll take on any question you may have with the kind of service that you can (and should!) expect from any team of IT engineers.
                </p>
                <br />
                <a class="yellow" (click)="openContactUs()">
                    Request more information about Hardware Monitoring, tell us about your needs or challenges and let us provide you with information focused on your situation.
                </a>
            </div>
            <div class="col-md-7" style="text-align: left;">
                <h2 class="yellow">
                    You can expect from us:
                </h2>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Complete service from A to Z
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Team of experts with a big passion 
for IT & Hardware
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Wide range of products, services 
and support
                    </p>
                </div>
            </div>
            <div class="col-md-12 btns">
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Contact
                </a>
                <a class="btn-primary" (click)="openContactUs()">
                    Start Quote
                </a>
            </div>
        </div>
    </div>
</div>