<div class="div">
    <img
      loading="lazy"
      src="./../../assets/img/popup-bg.png.png"
      class="img"
    />
    <img
      loading="lazy"
      src="./../../assets/img/reboot_monkey.svg"
      class="img-3"
    />
    <div class="div-2">
      🔥 Limited Racks Available! Book Your Slot Now! 🔥
    </div>
    <div class="div-3">
      Premium data center colocation services at
      <br />
      unbeatable prices!
    </div>
    <div class="div-4">
      <span class="header-text">
        State-of-the-Art Facility
      </span>
      <span class="subtext">
        in Amsterdam
      </span>
    </div>
    <div class="div-5">
      <span class="header-text">
        High-Density Computing:
      </span>
      <span class="subtext">
        32 amps/7kW per rack
      </span>
    </div>
    <div class="div-6">
      <span class="header-text">
        Affordable Pricing:
      </span>
      <span class="subtext">
        Just €400 per rack + €0.27 per kWh
      </span>
    </div>
    <div class="div-7">Limited Racks Left - Hurry!</div>
    <div class="div-8">Don't Miss Out!</div>
    <button class="div-9" (click)="buyNow()">Buy Now</button>
  </div>