<!-- <div class="content-bg"></div>
<div class="looking-for-you-container">
    <div class="container looking-for-you">
        <div class="row">
            <div class="col-md-8">
                <h1>
                    Were looking for you!
                </h1>
                <br />
                <p>
                    We need an experienced and skilled hand with custom IT projects. <br />
                    If you are the one send us your information!
                </p>
                <br />
                <br />
                <form [formGroup]="form" (submit)="submit(form.value)">
                    <input placeholder="Your Company Name" formControlName="company" />
                    <input placeholder="Full Name" formControlName="name" />
                    <div class="row">
                        <div class="col-md-8">
                            <input placeholder="Address" formControlName="address" />
                        </div>
                        <div class="col-md-4">
                            <input placeholder="Postcode" formControlName="postcode" />
                        </div>
                    </div>
                    <input placeholder="City" formControlName="city" />
                    <input placeholder="Phone Number" formControlName="phone" />
                    <input class="email" placeholder="Email" formControlName="email" />
                    <label>Please, enter valid email address</label>
                    <input placeholder="Linkedin" formControlName="linkedin" />
                    <input placeholder="Let’s talk about your idea" formControlName="talk" />
                    <nz-upload nzType="drag" [nzMultiple]="true"
                    [nzLimit]="1"
                        nzAction="{{environment.backEndUrl}}/upload-file" (nzChange)="handleChange($event)">
                        <p class="ant-upload-text"><img alt="upload" src="../../../assets/upload.webp" /> Upload CV and Motivation
                            file</p>
                    </nz-upload>
                    <p class="small">Attach file. File size of your documents should not exceed 10MB</p>
                    <button type="submit">SUBMIT</button>
                    <div class="terms">
                        <input type="checkbox" />&nbsp;I agree to the <a [routerLink]="['/']">Reboot</a> General Terms and <a
                        [routerLink]="['/']">Reboot</a> Website Terms & Conditions of Use.
                    </div>
                </form>
            </div>
            <div class="col-md-4 right-div">
                <br />
                <br />
                <br />
                <br />
                <p>
                    Offices
                    <br />
                    <br />
                    Netherlands<br />
                    Tappersweg 10F 2031 ET
                </p>
                <br />
                <br />
                <p>
                    For Quick Inquiries
                    <br />
                    <br />
                    KvK 80257313<br />
                    info@rebootmonkey.com<br />
                    +31 23 456 8188
                </p>
                <img alt="monkeys" src="../../../assets/monkeys.webp" class="monkeys"/>
            </div>
        </div>
    </div>
    <div class="content-bg-lower"></div>
</div> -->