.option > div h3 {
    color: #fae200;
    transition: color 0.2s ease-in-out;
}

.option > div:hover h3 {
    color: #fff;
}
.option > div:hover {
    background: #332f00;
}
.option > div {
    border: 1px solid #fae200;
    border-radius: 10px;
    margin-top: 15px;
    padding: 16px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    height: 100%;
    background: transparent;
    transition: background 0.2s ease-in-out;
}
.option {
    margin-bottom: 15px;
}
.option img {
    width: 100px;
    padding: 24px 21px;
    background: #f0de0036;
    border-radius: 50%;
    overflow-clip-margin: border-box;
    margin-bottom: 10px;
}