<div class="container">
    <h1 class="text-center">
        <br />
        <br />
        Colocation Server Hosting Solutions
        <br />
    </h1>

    <div class="row">
        <div class="col-lg-4 option">
            <div>
                <img src="../../../assets/services/3.webp" />
                <h3>
                    Rack Unit
                </h3>
                <p>
                    Separate server rack units are ideal for low colocation requirements. You can rent up to five rack units in a shared rack, which is both economical and affordable.
                </p>
                <br />
                <p>
                    Starting from
                </p>
                <strong>
                    $99.49
                </strong>
                <br />
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Explore Units
                </a>
                <!-- <a class="btn-primary outlined" (click)="openContactUs()" [queryParams]="{tab: 'cage'}">
                    More Info
                </a> -->
            </div>
        </div>
        <div class="col-lg-4 option">
            <div>
                <img src="../../../assets/services/3.webp" />
                <h3>
                    Full Rack
                </h3>
                <p>
                    Keep the entire rack to yourself. Full racks are available for enterprises requiring high levels of scalability, capacity, and security.
                </p>
                <br />
                <p>
                    Starting from
                </p>
                <strong>
                    $99.49
                </strong>
                <br />
                <a class="btn-primary outlined" (click)="openContactUs()" style="margin-top: 28px;">
                    More Info
                </a>
                <!-- <a class="btn-primary outlined" (click)="openContactUs()" [queryParams]="{tab: 'cage'}">
                    More Info
                </a> -->
            </div>
        </div>
        <div class="col-lg-4 option">
            <div>
                <img src="../../../assets/services/3.webp" />
                <h3>
                    Cage
                </h3>
                <p>
                    Completely tailored to fit your unique space, data, and power needs. This is the preferred colocation method for companies with large amounts of equipment.
                </p>
                <br />
                <strong>
                    By Request
                </strong>
                <br />
                <a class="btn-primary outlined" (click)="openContactUs()" style="margin-top: 46px;">
                    More Info
                </a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="text-center">
        <br />
        <br />
        <h2 style="color: #fff">
            Get started today!
        </h2>
        <a (click)="openContactUs()" class="btn-primary outlined">
            Contact Us
        </a>
    </div>
</div>