<div class="container-fluid">
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/discover.webp"/>
            </div>
            <div class="col-md-8">
                <br/>
                <br/>
                <h4 class="underlined">
                    Discover Our Company
                </h4>
                <p>
                    We are a team of IT professionals that have been in IT since 1996. We started and sold multiple IT companies and helped a lot of other startups and enterprises flourish. We administered, managed and developed the internet to how it is shaped today.
                </p>
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Contact Us
                </a>
            </div>
        </div>
    </div>
</div>