<div class="holder" *ngIf="data">
    <rm-landing *ngIf="data"
        [title]="data.name"></rm-landing>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <nz-collapse [nzExpandIconPosition]="'right'" nzAccordion>
                        <ng-container *ngFor="let item of optionsCategories; let i = index">
                            <ng-container *ngIf="item.valuesFound">
                                <nz-collapse-panel [nzHeader]="item.name" [nzActive]="i === 0">
                                    <ng-container *ngFor="let productOption of data.options">
                                        <ng-container *ngIf="productOption.option_category_id === item.id">
                                            <p class="big">
                                                {{productOption.name}}
                                            </p>
                                            <p>
                                                <ng-container *ngIf="productOption.option_values.length === 1">
                                                    <input name="{{productOption.name}}" id="{{productOption.name}}0"
                                                        type="checkbox" [checked]="true" disabled /><label
                                                        for="{{productOption.name}}0">{{productOption.option_values[0].name}}</label>
                                                </ng-container>
                                                <ng-container *ngIf="productOption.option_values.length > 1">
                                                    <ng-container
                                                        *ngFor="let optionV of productOption.option_values; let oi = index">
                                                        <input name="{{productOption.name}}"
                                                            id="{{productOption.name}}{{oi}}"
                                                            (click)="productOption.selectedId = optionV.id; productOption.selectedValue = optionV.name; productOption.selectedPrice = optionV.price; recalculate()"
                                                            type="radio" [value]="optionV.name" />
                                                        <label for="{{productOption.name}}{{oi}}">{{optionV.name}} -
                                                            {{optionV.price === 0 ? 'incl.' : optionV.price +
                                                            '€'}}</label>
                                                        <br />
                                                    </ng-container>
                                                </ng-container>
                                            </p>
                                        </ng-container>
                                    </ng-container>
                                </nz-collapse-panel>
                            </ng-container>
                        </ng-container>
                    </nz-collapse>
                    <!-- <nz-collapse [nzExpandIconPosition]="'right'" nzAccordion>
                        <nz-collapse-panel [nzHeader]="'1. Server Housing'" [nzActive]="true">
                            <div *ngIf="data">
                                <p class="big">
                                    Rackspace
                                </p>
                                <p>
                                    {{data.name}}
                                </p>
                                <hr />
                                <p class="big">
                                    Power
                                </p>
                                <p>
                                    {{data.power}}
                                </p>
                                <hr />
                                <p class="big">
                                    Datacenter
                                </p>
                                <p>
                                    {{data.datacenter}}
                                </p>
                                <hr />
                                <p class="big">
                                    Access Cards
                                </p>
                                <p>
                                    <input type="checkbox" id="access" name="access" [checked]="selectedConfiguration.access" [(ngModel)]="selectedConfiguration.access" /><label for="access">10 x 24/7 Access Card </label>
                                </p>
                                <hr />
                                <p class="big">
                                    Remote Management
                                </p>
                                <p>
                                    <ng-container *ngFor="let item of configuration.management; let i = index">
                                        <input id="management{{i}}" type="radio" name="management" [value]="item.title" [(ngModel)]="selectedConfiguration.management" /><label for="management{{i}}">{{item.title}}</label>
                                        <br />
                                    </ng-container>
                                </p>
                                <hr />
                            </div>
                        </nz-collapse-panel>
                        <nz-collapse-panel [nzHeader]="'2. Network'" [nzActive]="false">
                            <div>
                                <p class="big">
                                    Uplink Port Speed
                                </p>
                                <p>
                                    <ng-container *ngFor="let item of configuration.speed; let i = index">
                                        <input id="speed{{i}}" type="radio" name="speed" [value]="item.title" [(ngModel)]="selectedConfiguration.speed" /><label for="speed{{i}}">{{item.title}}</label>
                                        <br />
                                    </ng-container>
                                </p>
                                <hr />
                                <p class="big">
                                    IPV4
                                </p>
                                <p>
                                    <ng-container *ngFor="let item of configuration.ipv4; let i = index">
                                        <input id="ipv4{{i}}" type="radio" name="ipv4" [value]="item.title" [(ngModel)]="selectedConfiguration.ipv4" /><label for="ipv4{{i}}">{{item.title}}</label>
                                        <br />
                                    </ng-container>
                                </p>
                            </div>
                        </nz-collapse-panel>
                        <nz-collapse-panel [nzHeader]="'3. Contract'" [nzActive]="false">
                            <div>
                                <p class="big">
                                    Remote Hands
                                </p>
                                <p>
                                    <ng-container *ngFor="let item of configuration.remoteHands; let i = index">
                                        <input id="remoteHands{{i}}" type="radio" name="remoteHands" [value]="item.title" [(ngModel)]="selectedConfiguration.remoteHands" /><label for="remoteHands{{i}}">{{item.title}}</label>
                                        <br />
                                    </ng-container>
                                </p>
                                <hr />
                                <p class="big">
                                    Contract Duration
                                </p>
                                <p>
                                    <ng-container *ngFor="let item of configuration.contractDuration; let i = index">
                                        <input id="contractDuration{{i}}" type="radio" name="contractDuration" [value]="item.title" [(ngModel)]="selectedConfiguration.contractDuration" /><label for="contractDuration{{i}}">{{item.title}}</label>
                                        <br />
                                    </ng-container>
                                </p>
                                <hr />
                                <p class="big">
                                    Payment Term
                                </p>
                                <p>
                                    <ng-container *ngFor="let item of configuration.payment; let i = index">
                                        <input id="payment{{i}}" type="radio" name="payment" [value]="item.title" [(ngModel)]="selectedConfiguration.payment" /><label for="payment{{i}}">{{item.title}}</label>
                                        <br />
                                    </ng-container>
                                </p>
                            </div>
                        </nz-collapse-panel>
                    </nz-collapse> -->
                </div>
                <div class="col-md-5">
                    <div class="summary">
                        <p class="big">
                            Summary
                        </p>
                        <hr />
                        <ng-container *ngFor="let item of optionsCategories">
                            <table *ngIf="item.valuesFound">
                                <tr>
                                    <td>
                                        <strong>
                                            {{item.name}}
                                        </strong>
                                    </td>
                                    <td></td>
                                </tr>
                                <ng-container *ngFor="let productOption of data.options">
                                    <tr *ngIf="productOption.selectedValue">
                                        <ng-container *ngIf="productOption.option_category_id === item.id">
                                            <td>
                                                {{productOption.selectedValue}}
                                            </td>
                                            <td>
                                                {{productOption.selectedPrice === 0 ? 'incl.' :
                                                ((productOption.selectedPrice + '€') || 'incl.')}}
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                                <!-- <tr>
                                    <td>
                                        Monthly Base Price
                                    </td>
                                    <td>
                                        € 81.40
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            Server Housing
                                        </strong>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{data.name}}
                                    </td>
                                    <td>
                                        incl.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{data.power}}
                                    </td>
                                    <td>
                                        incl.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{data.datacenter}}
                                    </td>
                                    <td>
                                        incl.
                                    </td>
                                </tr>
                                <tr *ngIf="selectedConfiguration.access">
                                    <td>
                                        10 x 24/7 Access Card
                                    </td>
                                    <td>
                                        incl.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{selectedConfiguration.management.split('(')[0]}}
                                    </td>
                                    <td>
                                        {{selectedConfiguration.management.split('(')[1].replace(')', '')}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            Network
                                        </strong>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        1 x 1000Mbps Full-Duplex
                                    </td>
                                    <td>
                                        incl.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{selectedConfiguration.speed.split('(')[0]}}
                                    </td>
                                    <td>
                                        {{selectedConfiguration.speed.split('(')[1].replace(')', '')}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        IPv4: {{selectedConfiguration.ipv4.split('(')[0]}}
                                    </td>
                                    <td>
                                        {{selectedConfiguration.ipv4.split('(')[1].replace(')', '')}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            Contract
                                        </strong>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{selectedConfiguration.remoteHands.split('(')[0]}}
                                    </td>
                                    <td>
                                        {{selectedConfiguration.remoteHands.split('(')[1].replace(')', '')}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Contract Term
                                    </td>
                                    <td>
                                        {{selectedConfiguration.contractDuration}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Billing Term
                                    </td>
                                    <td>
                                        {{selectedConfiguration.payment}}
                                    </td>
                                </tr> -->
                            </table>
                        </ng-container>
                    </div>
                    <div class="summary-blk">
                        <p class="big">
                            Incl.taxes
                        </p>
                        <table>
                            <tr>
                                <td>
                                    <strong style="margin-top: 5px">
                                        Monthly total
                                    </strong>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong style="font-size: 34px; margin-top: 5px;">
                                        € {{total || data?.price}}
                                    </strong>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Monthly total
                                </td>
                                <td>
                                    Contract
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    € 0.00
                                </td>
                                <td>
                                    12 Months
                                </td>
                            </tr>
                        </table>
                        <br />
                        <a class="nav-link btn-primary outlined order-btn" (click)="addToCart()"
                            routerLinkActive="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Contact Information" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form [formGroup]="formGroup" (submit)="handleOk()">
            <input nz-input class="modal-input" name="name" formControlName="name" placeholder="Name" />
            <input nz-input class="modal-input" name="phone" formControlName="phone" placeholder="Phone Number" />
            <input nz-input class="modal-input" name="email" formControlName="email" placeholder="Email" />
            <input nz-input class="modal-input" name="location" formControlName="location" placeholder="Location" />
            <textarea nz-input class="modal-input" name="comment" formControlName="comment" placeholder="Comment"
                [nzAutosize]="{ minRows: 3 }"></textarea>
        </form>
    </ng-container>
</nz-modal>