<br/>
<br/>
<br/>
<div class="container">
    <h1 style="text-align: center;">
        <small class="yellow">Reboot Monkey</small> <br />
        Rack Servers for your data center needs
    </h1>
    <p style="text-align: center;">
        <br />
        Are you looking for Rack Servers for your colocation needs?
        We will find the solution that helps your business to grow.
        Read more about our products!
    </p>
    <div style="text-align: center;">
        <a (click)="openContactUs()" class="btn-primary">Get in touch</a>
    </div>
    <!-- <form (submit)="search()" [formGroup]="searchFormGroup">
        <input placeholder="Search for guides, term, command and more ..." name="query" formControlName="query" />
        <button type="submit"><img alt="search" src="../../../assets/search.webp" /></button>
    </form> -->
</div>

<div class="container">
    <h2>
        <br />
        <br />
        The right Rack Server for your company
    </h2>
    <br />
    <p>
        Are you looking for rack servers for your colocation needs? With our broad network of suppliers and our
        experienced team of IT experts, we will find the right solution for your business. Whether you need a few
        servers, a full rack or a complete server cabinet, we offer reliable racks that can be deployed in no time.
    </p>
</div>

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-5">
            <h2>
                First things first:
                what is a Rack Server?
            </h2>
            <br />
            <p>
                A rack server is a computer server that is designed to be placed in a server rack, which is typically
                located in a data center. For this reason, they’re also called rack mount servers or rack-mounted
                servers. Their specific construction allows for easy scalability and expandability, as well as efficient
                cooling.
                <br />
                <br />
                The fact that you can slide rack servers in and out of the rack, makes it easy to maintain them and find
                the right diagnosis for any problem that might occur. It’s even possible to swap parts without shutting
                down the system. This feature is especially great for mission-critical infrastructure, because downtime
                often equals financial loss.
            </p>
        </div>
        <div class="col-md-7">
            <img alt="rack server" src="../../../../assets/rack-servers.webp" />
        </div>
    </div>
</div>

<div class="bottom-section">
    <div class="container" style="margin-top: 100px;">
        <h2>
            Available Rack Server dimensions
        </h2>
        <br />
        <p>
            Rack space, the amount of space that is taken up in a server cabinet, is expressed in Rack Units (U). One
            Rack Unit (1U) is typically 1.75 inches (4.445 centimeters) high. This however doesn’t mean that every
            individual server is 1.75 inches high. A 2U server, for example, is 3,5 inches in height while a 5U server
            is 8,75 inches in height. A full rack is usually between 40 and 46 Rack Units.
            <br />
            <br />
            In width, most rack servers are 19 inches, but there are also rack servers that are 23 and 24 inches in
            width. The different measurements mean that you’ll always find the best rack server for your needs.

        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    The right Rack Server
                    installation
                </h2>
                <br />
                <p>
                    Rack server installation is more than just sliding servers into a rack. After you’ve determined the
                    right type of rack server and the amount of servers you need, they need power and internet. They
                    also need to be connected to each other. That’s why Reboot Monkey doesn’t just sell rack servers; we
                    gladly install your hardware professionally, in the blink of an eye.
                </p>
            </div>
            <div class="col-md-6">
                <h2>
                    Racks with double switches
                    to prevent downtime
                </h2>
                <br />
                <p>
                    Our racks are equipped with double switches to back up the power supply in case of emergency.
                    Additionally, we can realize a fully redundant database architecture that allows you to test new
                    applications or to migrate your existing infrastructure without having to shut the system down.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="text-align: left;">
                <h2 style="font-weight: bold;">
                    Why buy or rent your Racks at Reboot Monkey?

                </h2>
                <br />
                <p>
                    Reboot Monkey is the one-stop-shop for all your data center needs. Besides supplying servers that
                    are tailored to your needs, we also deliver <a [routerLink]="['/products/ip-transit']" class="yellow">IP Transit</a>, maintenance
                    and support in the form of <a [routerLink]="['/services/smart-hands']" class="yellow">Smart Hands</a> and <a (click)="openContactUs()"
                        class="yellow">Remote Hands</a>, and much more. You can count on our passionate team of IT
                    professionals to solve all your data center and hardware related problems!

                </p>
                <br />
                <a  (click)="openContactUs()" class="yellow">
                    Request more information about Rack Servers, tell us about your needs or challenges and let us
                    provide you with information focused on your situation.
                </a>
            </div>
            <div class="col-md-6" style="text-align: left;">
                <h2 class="yellow">
                    At Reboot Monkey, you can expect:
                </h2>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Full supply chain service from
                        A to Z
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Team of experts with a big
                        passion for IT & Hardware
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Varied range of products
                        and services
                    </p>
                </div>
            </div>
            <div class="col-md-12 btns">
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Contact
                </a>
                <a class="btn-primary" (click)="openContactUs()">
                    Start Quote
                </a>
            </div>
        </div>
    </div>
</div>