
<div class="bg-section">

    <div class="container" style="margin-top: 100px;">
        <h2 style="text-align: left;">
            Digital Data Destruction for accurate security
            <br />
            <br />
        </h2>
        <div class="row">
            <div class="col-md-6">
                <p style="text-align: justify;">
                    Data destroying increases your cyber security and prevents data from falling into the wrong hands,
                    which
                    could have serious consequences. You don’t want corporate financial records, private information
                    about
                    employees or other personal data to be accessed if a data breach would occur.
                </p>
            </div>
            <div class="col-md-6">
                <p style="text-align: justify;">
                    Having said that, avoiding a data breach is part of proper <a  [routerLink]="['/services/hardware-monitoring']" class="yellow">Hardware
                        Monitoring.</a>
                    <br />
                    <br />
                    Our team of IT experts destroys your data with care, accuracy and the maximum level of security.
                </p>
            </div>
        </div>
    </div>

    <div class="why-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        What do we mean by Digital Data Destruction?
                    </h2>
                    <br />


                    <p>
                        With data destruction or data destroying, we’re referring to the process of removing data from
                        systems like tapes, hard disks or other forms of hardware. This could be any type of data that
                        shouldn’t fall into the hands of threat actors or wrong people.
                        <br />
                        <br />
                        That’s where data destruction comes into play. It increases your cyber security and prevents
                        information that’s no longer needed from being used for the wrong purposes. This could be the
                        case
                        with cyber criminals, who interfere with your systems and capture your data. The less data
                        available, the less risk you face.
                        <br />
                        <br />

                        <span class="yellow yellow-circle">⬤ </span>&nbsp;Data that should be destroyed are:<br />
                        <span class="yellow yellow-circle">⬤ </span>&nbsp;Software programs<br />
                        <span class="yellow yellow-circle">⬤ </span>&nbsp;Institutional/business data<br />
                        <span class="yellow yellow-circle">⬤ </span>&nbsp;Personally identifiable data<br />
                        <span class="yellow yellow-circle">⬤ </span>&nbsp;Non-public data<br />
                    </p>

                </div>
            </div>
        </div>
    </div>

</div>



<div class="container" style="margin: 100px auto;">
    <div class="row">
        <div class="col-md-5">
            <h2>
                How <span class="yellow">Digital Data
                    Destroying</span> works
            </h2>
            <img alt="lock" src="../../../../assets/lcok.webp" />
        </div>
        <div class="col-md-7">
            <p>
                Data destroying can be done in different ways. The most common methods are overwriting, degaussing,
                wiping and physical destruction.
            </p>
            <br />
            <br />
            <div class="row">
                <div class="col-md-6 inner-service">
                    <h2 class="yellow" style="text-align: left; margin-bottom: 10px;"><img alt="degaussing"
                            src="../../../../assets/magnet.webp" /> Degaussing</h2>
                    <p>
                        With degaussing, we either decrease or wipe out the magnetic field inside storage devices. The
                        data that resides in this magnetic field will be erased. Degaussing is a very secure form of
                        data destruction and offers a high level of safety, which can be done in very little time and is
                        very versatile too.
                    </p>
                    <hr />
                </div>
                <div class="col-md-6 inner-service">
                    <h2 class="yellow" style="text-align: left; margin-bottom: 10px;"><img alt="physical destruction"
                            src="../../../../assets/home.webp" /> Physical destruction</h2>
                    <p>
                        We have the option to physically destroy hardware. This means we shred or crush the different
                        components to a super tiny size, which ensures irretrievable memory and function. It’s said to
                        be the safest way to eliminate data and it can destroy enormous amounts of hardware at once. We
                        can do this onsite for you.
                    </p>
                    <hr />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6 inner-service">
                    <h2 class="yellow" style="text-align: left; margin-bottom: 10px;"><img alt="overwriting"
                            src="../../../../assets/pen.webp" /> Overwriting</h2>
                    <p>
                        Data overwriting is a software-based method that completely overwrites all parts of a hard disk
                        drive or other type of digital storage device.
                    </p>
                    <hr />
                </div>
                <div class="col-md-6 inner-service">
                    <h2 class="yellow" style="text-align: left; margin-bottom: 10px;"><img alt="data wiping"
                            src="../../../../assets/datacenter.webp" /> Data wiping</h2>
                    <p>
                        By connecting a hardware device to a wiping device or software, data can be wiped out. Wiping is
                        especially suitable for smaller companies, as it’s a time-intensive process that still retains
                        the core function of a device for future use.
                    </p>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>



<div class="why-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    A good Data Destruction Policy values your privacy
                </h2>
                <br />


                A proper Data Destruction Policy guarantees maximum security. It includes what type of data will be
                destroyed, which method will be used and who will be in charge of the destruction process. It also
                minimizes the risk of a data breach and the consequences that your company could face.

                <br />
                <br />
                <strong>Important factors that should be included in a Data Destruction Policy are:</strong> <br />
                <span class="yellow yellow-circle">⬤ </span>&nbsp;Thet type of data that will be destroyed<br />
                <span class="yellow yellow-circle">⬤ </span>&nbsp;The method that will be used for destroying it<br />
                <span class="yellow yellow-circle">⬤ </span>&nbsp;The person or company that’s in charge for the destruction<br />
                <span class="yellow yellow-circle">⬤ </span>&nbsp;A timetable for the data destruction process <br />

            </div>
        </div>
    </div>
</div>





<div class="second-section">
    <div class="container">
        <div class="row" style="margin: 100px 0;">
            <div class="col-md-12">
                <h2>
                    Why Data Destruction matters for your company too
                </h2>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        Dependence on electronic data storage is a universal thing. Your business and even your home
                        cannot do without. Even when you delete data from your hardware system, they’re not completely
                        wiped out. The actual file continues to exist and only the reference to that file is deleted.
                        Data thieves are experts in restoring these files again. That’s why data destroying is important
                        to also delete the access to these files.
                    </div>
                    <div class="col-md-6">
                        Interested to know what we can do for your company and your Data Destroying related challenges?
                        <br />
                        <br />
                        <a (click)="openContactUs()" class="yellow">Get in touch with us and we’ll give you free, personalized advice for
                            your situation!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row breakdown">
            <div class="col-md-5">
                <h2>
                    We destruct your data with care (and a bit of passion too)
                </h2>
                <br />
                <p>
                    At Reboot Monkey, we’re in charge of the full supply chain. From A to Z. Whether you need a <a
                        class="yellow"  [routerLink]="['/products/rack-services']">new product</a>, a hardware installation or a <a class="yellow"
                        [routerLink]="['/services/hardware-monitoring']">monitoring</a> service: we’re on it. When it comes to Data Destroying, we handle every
                    step of the way with the most possible care.

                </p>
                <br />
                <a class="yellow" (click)="openContactUs()">
                    Request more information about Data Destroying, tell us about your needs or challenges and let us
                    provide you with information focused on your situation.
                </a>
            </div>
            <div class="col-md-7" style="text-align: left;">
                <h2 class="yellow">
                    You can expect from us:
                </h2>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Full supply chain service from A to Z
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Team of professionals with passion
                        for IT & Hardware
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Varied range of products and
                        services
                    </p>
                </div>
            </div>
            <div class="col-md-12 btns">
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Contact
                </a>
                <a class="btn-primary" (click)="openContactUs()">
                    Start Quote
                </a>
            </div>
        </div>
    </div>
</div>