<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img">
                <img src="../../../assets/years.webp" alt="why" />
            </div>
            <div class="col-md-6">
                <h5 class="underlined">
                    Why choose Us?
                </h5>
                <h2>
                    Complete service from A to Z
                </h2>
                <div class="reason">
                    <img src="../../../assets/why/partner.webp" alt="why" />
                    <div>
                        <strong>
                            Partner
                        </strong>
                        <p>
                            One reliable and affordable partner for all
                            your data center related needs
                        </p>
                    </div>
                </div>
                <div class="reason">
                    <img src="../../../assets/why/services.webp" alt="why" />
                    <div>
                        <strong>
                            Services
                        </strong>
                        <p>
                            Full supply chain available, from hardware
                            products to smart on-site services
                        </p>
                    </div>
                </div>
                <div class="reason">
                    <img src="../../../assets/why/it expert.webp" alt="why" />
                    <div>
                        <strong>
                            IT Experts
                        </strong>
                        <p>
                            Reliable team of knowledgeable experts with
                            passion for IT & hardware
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>