<div class="container">
    <div class="row center">
        <div class="col-lg-6">
            <form (submit)="handleRequest()">
                <br/>
                <br/>
                <h1>
                    Login
                </h1>
                <small>
                    Login to your <strong>Reboot Monkey</strong> account
                </small>
                <br/>
                <br/>
                <br/>
                <input type="text" placeholder="Username" name="username" [(ngModel)]="username" />
                <input type="password" placeholder="Password" name="password" [(ngModel)]="password"/>
                <button class="btn-primary outlined">
                    Login
                </button>
            </form>
        </div>
    </div>
</div>