
<div class="bg-section">

    <div class="container" style="margin-top: 100px;">
        <h2 style="text-align: left;">
            Need some help with your Hardware Recycling?
            <br />
            <br />
        </h2>
        <div class="row">
            <div class="col-md-6">
                <p style="text-align: justify;">
                    The process of hardware recycling needs to be done with care, expertise and accuracy. It’s a complex process, which is why we have special IT experts at Reboot Monkey who can take care of this job. Recycling your hardware is important, as it prevents hazardous waste (like heavy metals and carcinogents) from entering our oceans, nature or the atmosphere. 
                </p>
            </div>
            <div class="col-md-6">
                <p style="text-align: justify;">
                    However, strict legislation is part of the recycling game too.  There are several protocols and rules that indicate how hardware recycling should take place, <span class="yellow underline">like the Waste Electrical and Electronic Equipment Directive</span> of the European Union.
<br/>
<br/>
At Reboot Monkey, we know how to recycle your hardware with care and in accordance with legislation. 
                </p>
            </div>
        </div>
    </div>

    
    <div class="container" style="margin-top: 100px;">
        <h2 style="text-align: left;">
            Hardware Recycling explained
            <br />
            <br />
        </h2>
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: justify;">
                    With hardware recycling, components and raw materials of waste electronics and hardware products are disassembled and separated. Think of items like memory RAM sticks, motherboards, power supplies, graphics cards and harddrives. These items are often made up from plastic, glass, ferrous metals and non-ferrous metals. Some of these materials can easily be recycled, while others are too complex to recycle. 
                </p>
            </div>
        </div>
    </div>

</div>



<div class="container" style="margin: 100px auto;">
    <div class="row">
        <div class="col-md-4">
            <h2>
                How we <span class="yellow">recycle</span> your 
                <span class="yellow">Hardware</span> with the most 
                of <span class="yellow">care</span>
            </h2>
            <img alt="recycle" style="width: 77%; display: block; margin: 40px auto;" src="../../../..assets/recycle.webp" />
        </div>
        <div class="col-md-8">
            So… how does one recycle hardware? Well, it’s a complex process. The hardware is dismantled with care and then sorted according to the type of materials like steel, aluminum or glass. These kinds of materials can be recycled to make vehicle parts or new IT hardware products, whereas other materials that can’t be recycled will be disposed of in an environmentally friendly way. 
            <br/><br/>
            Our core values when recycling your hardware are:
            <br/><br/>
                 <span class="yellow yellow-circle">⬤ </span>&nbsp;Accuracy<br/>
                 <span class="yellow yellow-circle">⬤ </span>&nbsp;Security<br/>
                 <span class="yellow yellow-circle">⬤ </span>&nbsp;Accountability<br/>
                 <br/><br/>
            These values guarantee that your hardware is recycled with the maximum level of care and safety. 
        </div>
    </div>
</div>




<div class="second-section">
    <div class="container">
        <div class="row" style="margin: 100px 0;">
            <div class="col-md-12">
                <h2>
                    The importance of Hardware Recycling for your 
company (and our planet)
                </h2>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        By recycling your hardware, you avoid waste being dumped into nature and you reduce the amount of raw materials that are needed to make (new) products. If you don’t reuse the hardware yourself, it can benefit many people and companies that have a small budget. 
                    </div>
                    <div class="col-md-6">
                        By choosing to recycle your hardware, you contribute to a circular economy and a more environmentally friendly planet. In the face of climate change, it’s essential to make these kinds of conscious choices that benefit our world.
                    </div>
                </div>
            </div>
        </div>
        <div class="row breakdown">
            <div class="col-md-5">
                <h2>
                    Why Reboot Monkey loves Hardware Recycling 
                </h2>
                <br />
                <p>
                    Reboot Monkey is your one stop solution for all your data center questions and challenges. Whether you need a new <a class="yellow"  [routerLink]="['/services/rack-and-network']">Rack Installation</a>, <a class="yellow"  [routerLink]="['/services/hardware-monitoring']">Hardware Monitoring</a> or even repairing services: we’re on it!


                </p>
                <br />
                <a class="yellow" (click)="openContactUs()">
                    Request more information about Hardware Recycling, tell us about your needs or challenges and let us provide you with information focused on your situation.

                </a>
            </div>
            <div class="col-md-7" style="text-align: left;">
                <h2 class="yellow">
                    You can expect from us:
                </h2>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Complete service from A to Z
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Team of experts with a big passion
for IT & Hardware
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Varied range of products and 
services
                    </p>
                </div>
            </div>
            <div class="col-md-12 btns">
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Contact
                </a>
                <a class="btn-primary" (click)="openContactUs()">
                    Start Quote
                </a>
            </div>
        </div>
    </div>
</div>