<div class="row">
    <div class="col-md-12">
        <h2>
            Racking & Stacking, Hardware Monitoring <br />
            or Data Destroying… <span class="yellow">we’re on it!</span>
        </h2>
        <p>
            Whatever data center related question, problem or challenge you face: we’re more than happy to help you out.
            Our IT professionals love getting their hands dirty when it comes to hardware systems, data center needs and
            related services. It’s what makes our heart beat faster.
            <br />
            <br />
            In the current data center field, clients often have to turn to many different product distributors, IT
            service providers and data centers to gather all the right materials and services that they need. This
            usually means a lot of extra time, energy and money are spent on researching and finding the right
            providers.
            <br />
            <br />

            That’s why we offer our clients a one stop solution. We can provide in the full supply chain, from A to Z.
            Whether you need hardware products like <a class="yellow"  [routerLink]="['/services/rack-servers']">Server Racks</a> and <a class="yellow"
            [routerLink]="['/products/ip-transit']">IP Transits</a>, or data center related services like <a class="yellow"  [routerLink]="['/services/hardware-monitoring']">Hardware
                Monitoring</a> or <a class="yellow"  [routerLink]="['/services/rack-and-stack']">Racking & Stacking</a>: we can take care of any task!

        </p>
        <hr />
        <div class="row">
            <div class="col-md-6" style="text-align: left;">
                <h2 style="font-weight: bold;">
                    It’s our passion to provide you with the best service possible
                </h2>
                <br />
                <p>
                    Working with hardware is what we do best. And what we love most. Ever since 1996, we started and
                    sold multiple IT companies and helped a lot of other startups and enterprises flourish. Now, over
                    almost three decades later, we’ve combined our knowledge and experience to lift your data center
                    burden.
                </p>
                <br />
                <a (click)="openContactUs()" class="yellow">
                    Request more information here about our services, tell us about your needs or challenges and let us
                    provide you with information focused on your situation.
                </a>
            </div>
            <div class="col-md-6" style="text-align: left;">
                <h2 class="yellow">
                    At Reboot Monkey, you can expect:
                </h2>
                <div class="expectation">
                    <img  alt="tick" src="../../../assets/tick.webp" />
                    <p>
                        Full supply chain service from A to Z
                    </p>
                </div>
                <div class="expectation">
                    <img  alt="tick" src="../../../assets/tick.webp" />
                    <p>
                        Team of professionals with passion
                        for IT & Hardware
                    </p>
                </div>
                <div class="expectation">
                    <img  alt="tick" src="../../../assets/tick.webp" />
                    <p>
                        Wide range of products, services
                        and support
                    </p>
                </div>
                <div class="expectation">
                    <img  alt="tick" src="../../../assets/tick.webp" />
                    <p>
                        One partner for all your data center
                        needs
                    </p>
                </div>
                <div class="expectation">
                    <img  alt="tick" src="../../../assets/tick.webp" />
                    <p>
                        Fast, accurate, reliable and
                        passionate technicians
                    </p>
                </div>
            </div>
            <div class="col-md-12 btns">
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Contact
                </a>
                <a class="btn-primary" (click)="openContactUs()">
                    Start Quote
                </a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container text-center">
    <a class="btn-primary" [routerLink]="['more']" style="width: 100%;">
        Read More
    </a>
</div> -->