
<div class="bg-section">

    <div class="container" style="margin-top: 100px;">
        <h2 style="text-align: left;">
            This is how we <span class="yellow">Rack & Stack</span> it
            <br />
            <br />
        </h2>
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: justify;">
                    If you don’t have the time, knowledge or engineers to install servers or a network patch, a Rack & Stack service can offer a perfect solution. 
<br/>
<br/>
We have the right engineers for your needs who simply love getting their hands dirty for the job. They can be onsite within two hours of your request!
                </p>
            </div>
        </div>
    </div>

    <div class="why-section1">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2>
                        The difference between <span class="yellow">Rack and Stack</span>
                    </h2>
                    <br />


                    <p>
                        Basically, to rack and stack means to place hardware in a data center. Your equipment and hardware are usually first installed in a rack, before the rack is brought to the data center. There, it will be sorted or ‘stacked’ amongst the other racks. 
<br/>
<br/>
                        So, a rack refers to a supporting framework that holds hardware modules. They contain servers, hard disk drives and other equipment.  Stacking is the process of sorting the racks and piling them up. 
                    </p>

                </div>
            </div>
        </div>
    </div>

</div>


<div class="why-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <span class="yellow">Rack & Stack services</span> and installations for your company 
                </h2>
                <br />

<p>
    Though racking and stacking may sound easy, it’s far from that. Beforehand knowledge and expertise are highly necessary to prevent any delays or issues in the data center itself. 
    <br/><br/>
For example, it’s important to calculate the power requirements of new equipment, as well as documenting the rack design and layout throughout the project. The heaviest servers and materials should be installed on the bottom of the rack, and using tags and labels creates a better installation (and monitoring) process too.
<br/><br/>
Long explanation short: it’s essential to thoroughly plan your rack and stack project, to make the best installation possible and prevent any future problems that may occur.

</p>
            </div>
        </div>
    </div>
</div>





<div class="second-section">
    <div class="container">
        <div class="row" style="margin: 100px 0;">
            <div class="col-md-12">
                <h2 class="yellow">
                    Full service from start to finish (and beyond!)
                </h2>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        Rack installations are only one part of our service. In close collaboration with data centers, we can also provide you with servers, <span class="yellow">a full rack</span> or even multiple racks. That way you don’t have to worry about where to get proper equipment from. Instead, we’ll take care of that for you.  
                    </div>
                    <div class="col-md-6">
                        Besides our racking and stacking services, we can monitor your hardware with our <span class="yellow">Smart Hands</span> support. This will take any burden off your shoulders regarding monitoring and troubleshooting for your hardware. 
                    </div>
                </div>
            </div>
        </div>


        <div class="row breakdown">
            <div class="col-md-5">
                <h2>
                    At Reboot Monkey, we love to Rack ‘n Stack

                </h2>
                <br />
                <p>
                    By choosing Reboot Monkey, you’re choosing a full supply chain service. Our team of IT professionals has a true passion for data center and hardware related problems. The flickering HDD lights, the fiber optics and replacing a 4TB disk with an 18TB disk is what makes our hearts beat faster. 

                </p>
                <br />
                <a class="yellow" (click)="openContactUs()">
                    Interested to know more about our Rack & Stack service? We’d love to help you out. Please fill out the contact form and we’ll get back to you as soon as possible.
                </a>
            </div>
            <div class="col-md-7" style="text-align: left;">
                <h2 class="yellow">
                    You can expect from us:
                </h2>
                <div class="expectation">
                    <img  alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Full supply chain service from 
A to Z
                    </p>
                </div>
                <div class="expectation">
                    <img  alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Team of professionals with
passion for IT & Hardware

                    </p>
                </div>
                <div class="expectation">
                    <img  alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Wide range of products, 
services and support
                    </p>
                </div>
            </div>
            <div class="col-md-12 btns">
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Contact
                </a>
                <a class="btn-primary" (click)="openContactUs()">
                    Start Quote
                </a>
            </div>
        </div>
    </div>
</div>