<div class="container">
    <div class="thank-you-img text-center">
        <img src="../../../assets/thankyou.webp" />
        <p>
            You will receive an email from us within 15 to 20 minutes. If you didn’t receive it, an overzealous spam
            filter might be to blame.
        </p>
    </div>
    <div class="row book-container">
        <div class="col-lg-12">
            <h3 class="text-center" style="font-weight: bold;">
                Alternatively, you can pick a time from the below calendar as per your comfort
            </h3>
        </div>
        <div class="col-lg-6">
            <p style="margin: 0;">
                <br />
                <br />
                Reboot Monkey
            </p>
            <strong style="font-weight: bold;">
                Discovery Call
            </strong>
            <br />
            <small>
                <i class="fa fa-clock-o"></i> 30 min
            </small>
            <br />
            <small>
                <i class="fa fa-video-camera"></i> Web conferencing details provided upon confirmation.
            </small>
            <br />
            <br />
            <p>
                Discover Introductory Call!
                Are you ready to find the perfect fit for your needs? Join us for an exciting discovery call, where
                we'll understand your current situation and requirements!
            </p>
            <p>
                Don't miss this valuable opportunity! Book your spot now, and let's embark on a journey to success
                together!
                We're excited to connect with you!
            </p>
        </div>
        <div class="col-lg-6 left-border" style=" padding: 0px; " >
            <div id="CalendlyDiv" class="calendly-inline-widget" data-auto-load="false">
        </div>
    </div>
    <p class="text-center">
        To ensure that you don’t miss any communications from us, please
        add the email <a href="mailto:support@rebootmonkey.com">support@rebootmonkey.com</a> to your contact list.
    </p>
</div>
<div class="yellow-bg">
    <!-- <rm-logo-particles [logoCount]="66"></rm-logo-particles> -->
    <div class="container text-center">
        <h3 class="bold">
            What Happens Next?
        </h3>
        <p>
            Once we receive your inquiry, we'll promptly reach out to you either via email or phone to delve deeper into your company's requirements. If there's a strong connection, we'll progress to the next stage by arranging a strategy meeting.
        </p>
    </div>
</div>
<div class="container">
    <div class="text-center">
        <a class="btn-primary outlined" [routerLink]="['/']">
            Back to home page
        </a>
        <br />
        <br />
    </div>
</div>