<div class="container" style="margin-top: 100px;">
    <h2>
        Smart Hands support for your company
    </h2>
    <div class="row">
        <div class="col-md-6">
            <p style="text-align: justify;">
                When your company depends on the smooth operation of your racks, servers and network, Smart Hands
                services are of vital importance. Especially when you don’t live near the physical infrastructure in the
                data center or when you’ve got your hands full with other tasks that require your attention. Smart Hands
                support ensures that your hardware operates the way it should, by monitoring, installing, managing and
                troubleshooting onsite.
            </p>
        </div>
        <div class="col-md-6">
            <p style="text-align: justify;">
                The benefits of a Smart Hands service are huge. This service frees your IT department from having to
                deal with infrastructure problems, and instead, your IT professionals can focus on other, more important
                projects within your company to support growth, important things and flourishing faster.
                <br />
                <br />
                <span class="yellow">On top of that, Smart Hands support ensures:</span>
            </p>
        </div>
        <div class="col-md-12">
            <div class="row justify-content-between benefits">
                <strong class="col-md"><span class="yellow yellow-circle">⬤ </span>&nbsp;Quick response times</strong>
                <strong class="col-md" style="text-align: center;"><span class="yellow yellow-circle">⬤
                    </span>&nbsp;Improved data
                    security</strong>
                <strong class="col-md" style="text-align: end;"><span class="yellow yellow-circle">⬤ </span>&nbsp;A
                    higher
                    productivity</strong>
            </div>
        </div>
    </div>
</div>

<div class="why-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    Basics first: what is Smart Hands
                    support exactly?
                </h2>
                <br />

                <p>
                    The concept of Smart Hands refers to an individual or a team of IT experts that quickly responds to
                    any problem that may come up within the data center. Smart Hands support is 24/7 onsite and can be
                    used for troubleshooting, equipment installation and remote management. Smart Hands support can take
                    on complex tasks that require someone to be physically present in the data center. Think of setting
                    up a firewall, installing equipment, difficult cable configurations, testing, monitoring and
                    troubleshooting.
                    <br />
                    <br />
                    Of course you’ll find some form of onsite support in and provided by the data center itself, but
                    that kind of service covers only the bare minimum. Smart Hands service goes above and beyond to
                    support you in any data center or hardware related needs.
                </p>
            </div>
            <div class="col-md-6">
                <img  alt="tick" src="../../../../assets/server.webp" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>
                    <br />
                    <br />
                    <br />
                    The difference between <span class="yellow">Smart Hands</span>
                    <br/> v.s. <span class="yellow">Remote Hands services</span>
                </h2>
                <br />
                <p>
                    You might have heard of <a class="yellow" [routerLink]="['/services/remote-hands']">Remote Hands</a>
                    services too. These services are
                    a perfect solution when you or your IT manager lives far away from the data center. Remote Hands
                    support doesn’t require you to be onsite and instead can be accomplished remotely. Typical Remote
                    Hands tasks include securing network cables, upgrading memory, replacing hardware and checking port
                    numbers. You could consider them to be lighter support services of colocation providers, with
                    simpler tasks compared to Smart Hands.
                    <br />
                    <br />
                    Smart Hands support on the contrary offers IT services that are more complex. Think of receiving and
                    installing hardware shipments, performing hardware deployment or repairing equipment.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="second-section">
    <div class="container">
        <h2>
            Pick your favorite approach: reactive of proactive
        </h2>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Depending on your budget and needs, you may either choose a proactive or reactive approach with our
                    Smart Hands support. The main difference is that with proactive Smart Hands, a technical team
                    actively monitors your equipment and fixes minor issues as early as possible to prevent any delay.
                    <br />
                    <br />
                    With reactive Smart Hands, problems with the equipment should be reported by your own team, before
                    our technician acts on the issue.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    The proactive approach is more efficient for businesses that heavily depend on reliable server
                    up-times.
                    <br />
                    <br />
                    Not sure which approach suits your company best? We’re more than happy to listen to your needs and
                    help you out via our <a (click)="openContactUs()" class="yellow">contact page.</a> We can
                    provide you with custom
                    services that meet any of your specific needs and requirements.
                </p>
            </div>
        </div>
        <div class="row breakdown">
            <div class="col-md-5">
                <h2>
                    Why choose Reboot Monkey for your Smart Hands support?
                </h2>
                <br />
                <p>
                    Lifting your data center burden is our business. And not just our business – it’s our passion too!
                    With our team of trained professionals we’re ready to help you out with your <span
                         class="yellow underline">IT challenges.</span> You may expect from us:
                </p>
                <br />
                <a class="yellow" href="https://support.rebootmonkey.com" target="_blank">Are you ready for your pair of
                    Smart Hands support? Please send us your question, request or challenge via our contact form and
                    we’ll get back to you as soon as possible.</a>
            </div>
            <div class="col-md-7" style="text-align: left;">
                <h2 class="yellow">
                    At Reboot Monkey, you can expect:
                </h2>
                <div class="expectation">
                    <img  alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Full supply chain service from A to Z
                    </p>
                </div>
                <div class="expectation">
                    <img  alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Team of experts with a big passion for IT & Hardware
                    </p>
                </div>
                <div class="expectation">
                    <img  alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Varied range of products and services
                    </p>
                </div>
            </div>
            <div class="col-md-12 btns">
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Contact
                </a>
                <a class="btn-primary" (click)="openContactUs()">
                    Start Quote
                </a>
            </div>
        </div>
    </div>
</div>