<div class="container-fluid">
    <div class="container">
        <br />
        <br />
        <div class="row center">
            <h5 class="underlined">
                Our Awesome Services
            </h5>
            <h2 class="text-center">
                We Are Dedicated To Serve You All Time<br />
                And Complete service from A to Z
            </h2>
            <p class="text-center">
                <br />
                Here, you’ll find everything you need for solving your data center challenge. Whether you need new
                hardware products or installing, monitoring and repairing services: we will take care of it!
            </p>
        </div>
        <div class="row service-container">
            <div class="col-md-3 service">
                <div>
                    <img src="../../../assets/services/1.webp" alt="service" />
                    <h4>
                        Smart Hands
                    </h4>
                    <p>
                        Need a pair of smart IT hands that provide 24/7 onsitesupport for your hardware? Then Smart
                        Hands support is the perfect solution!
                    </p>
                </div>
            </div>
            <div class="col-md-3 service">
                <div>
                    <img src="../../../assets/services/2.webp" alt="service" />
                    <h4>
                        Remote Hands
                    </h4>
                    <p>
                        IT hands can help you out. We will take care of the necessary monitoring, repairing and
                        maintenance tasks for your hardware.
                    </p>
                </div>
            </div>
            <div class="col-md-3 service">
                <div>
                    <img src="../../../assets/services/3.webp" alt="service" />
                    <h4>
                        Rack and Stack
                    </h4>
                    <p>
                        If you don’t have the time, knowledge or engineers to install servers or a network patch,We have
                        the right engineers for your needs who simply love getting their hands dirty for the job.
                    </p>
                </div>
            </div>
        </div>
        <div class="row service-container">
            <div class="col-md-3 service">
                <div>
                    <img src="../../../assets/services/4.webp" alt="service" />
                    <h4>
                        Hardware Recycling
                    </h4>
                    <p>
                        For your own and your company’s safety, Data Destroying is of vital importance. At Reboot
                        Monkey, you’re in safe and accountable hands that destroy your data with care.
                    </p>
                </div>
            </div>
            <div class="col-md-3 service">
                <div>
                    <img src="../../../assets/services/5.webp" alt="service" />
                    <h4>
                        Data Destroying
                    </h4>
                    <p>
                        Data Destroying is of vital importance. At Reboot Monkey, you’re in safe and accountable hands
                        that destroy your data with care.
                    </p>
                </div>
            </div>
            <div class="col-md-3 service">
                <div>
                    <img src="../../../assets/services/6.webp" alt="service" />
                    <h4>
                        Hardware Monitoring
                    </h4>
                    <p>
                        A burden, even. Leave your Hardware Monitoring up to us, stay worry-free and focus on the most
                        important tasks for your company.
                    </p>
                </div>
            </div>
            <div class="col-md-3 service">
                <div>
                    <img src="../../../assets/services/7.webp" alt="service" />
                    <h4>
                        Rack & Nework Design
                    </h4>
                    <p>
                        At Reboot Monkey, you’re in safe and accountable hands that destroy your data with care.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <br/>
        <a class="btn-primary outlined" [routerLink]="['/services/smart-hands']">
            Explore Services
        </a>
        <br/>
        <br/>
        <br/>
    </div>
</div>