<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Find the right products for your data center challenges
            </h2>
            <p>
                At Reboot Monkey, we have a passion for everything Hardware & IT. We love the flickering HDD lights, the
                fiber optics and the wow factor we get when we’ve just replaced a 4TB disk with an 18TB disk. It’s what
                makes our hearts beat faster.
                <br />
                <br />
                However, for many companies and business owners, setting up hardware systems that function well can be a significant challenge. That’s why we started Reboot Monkey. To assist companies with their data center hardware needs and relieve them comprehensively from A to Z.
                <br />
                <br />
                We have close ties with many data centers and can buy, install and monitor any rack or server that you
                need.
                This way, you don’t have to worry about finding the right hardware products and who needs to install or
                monitor them. We can do that for you.

            </p>
            <hr />
        </div>
    </div>
</div>
<div class="monkey-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="text-align: left;">
                <h2 style="font-weight: bold;">
                    Reboot Monkey is your one stop shop for all you data center needs
                </h2>
                <br />
                <p>
                    At Reboot Monkey, we’re in charge of the full supply chain. From A to Z. Whether you need a new
                    product, <a [routerLink]="['/services/hardware-monitoring']" class="yellow">hardware monitoring services,</a> troubleshooting or other <a
                    [routerLink]="['/services/hardware-recycling']" class="yellow">hardware related services:</a> we’re on it!
                </p>
                <br />
                <a href="https://support.rebootmonkey.com" target="_blank" class="yellow">
                    Got a question, challenge or problem that you need personal advice for? We’ll help you out via our
                    support page!
                </a>
            </div>
            <div class="col-md-6" style="text-align: left;">
                <h2 class="yellow">
                    At Reboot Monkey, you can expect:
                </h2>
                <div class="expectation">
                    <img alt="tick" src="../../../assets/tick.webp" />
                    <p>
                        Full supply chain service from A to Z
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../assets/tick.webp" />
                    <p>
                        Team of professionals with passion
                        for IT & Hardware
                    </p>
                </div>
                <div class="expectation">
                    <img alt="tick" src="../../../assets/tick.webp" />
                    <p>
                        Varied range of products and services
                    </p>
                </div>
            </div>
            <div class="col-md-12 btns">
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Contact
                </a>
                <a class="btn-primary" (click)="openContactUs()">
                    Start Quote
                </a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container text-center">
    <a class="btn-primary" [routerLink]="['more']" style="width: 100%;">
        Read More
    </a>
</div> -->