<rm-landing></rm-landing>
<rm-map></rm-map>
<rm-service></rm-service>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Reboot Monkey",
      "url": "https://rebootmonkey.com/",
      "logo": "https://rebootmonkey.com/assets/logo-new.webp",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+31 23 456 8188",
        "contactType": "customer service"
      },
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Tappersweg 10F",
        "addressLocality": "Haarlem",
        "postalCode": "2031 ET",
        "addressCountry": "Netherlands"
      },
      "description": "Optimize your data center with Reboot Monkey's Smart Hands Solutions – your trusted partner for Smart Hands services. Specializing in colocation data center setup, monitoring, and expert support, we ensure seamless operations tailored to your needs. Rely on us for efficient remote hand services.",
      "keywords": "IT business solutions Amsterdam, Technology Consulting Services, Datacenter services, it consulting for small businesses, dcim software, edge data center, data center monitoring, colocation data center, data center colocation services, data center cable management, enterprise data center, data center services, Data Center Setup, rack elevation, data center support, Smart Hands Solutions",
      "sameAs": [
        "https://www.linkedin.com/company/rebootmonkey",
        "https://twitter.com/RebootMonkey",
        "https://www.facebook.com/RebootMonkey"
      ]
    }
  </script>