<div class="container-fluid yellow-bg">
    <rm-logo-particles [logoCount]="80"></rm-logo-particles> 
    <div class="container">
        <h2 class="bold text-center black">
            <br />
            Our Global Partnerships
            <br />
            <br />
        </h2>
        <div class="row">
            <div class="col-sm">
                <div class="partner-holder">
                    <img src="../../../assets/partners/arista.webp" />
                </div>
            </div>
            <div class="col-sm">
                <div class="partner-holder">
                    <img src="../../../assets/partners/cisco.webp" />
                </div>
            </div>
            <div class="col-sm">
                <div class="partner-holder">
                    <img src="../../../assets/partners/hp.webp" />
                </div>
            </div>
            <!-- <div class="col-sm">
                <div class="partner-holder">
                    <img src="../../../assets/partners/maincubes.webp" />
                </div>
            </div> -->
            <div class="col-sm">
                <div class="partner-holder">
                    <img src="../../../assets/partners/dell.webp" />
                </div>
            </div>
            <div class="col-sm">
                <div class="partner-holder">
                    <img src="../../../assets/partners/cisco.webp" />
                </div>
            </div>
        </div>
    </div>
</div>
