
<div class="bg-section">

    <div class="container" style="margin-top: 100px;">
        <h2 style="text-align: left;">
            <span class="yellow">Rack & Network Design</span> for your company
            <br />
            <br />
        </h2>
        <div class="row">
            <div class="col-md-6">
                <p style="text-align: justify;">
                    A strong, well-planned network design is essential for optimal performance, monitoring, scalability,
                    security and resilience. Without it, the network performance could prove to be very weak and your IT
                    team would have to constantly be monitoring,
                </p>
            </div>
            <div class="col-md-6">
                <p style="text-align: justify;">
                    recovering and performing maintenance tasks to keep the network running. This leads to a lot of
                    extra costs and time having to be spent on fixing things instead of growing your company. And that’s
                    probably not the way you like it.
                </p>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 100px;">
        <h2 style="text-align: left;">
            What is <span class="yellow">Network Design</span> exactly?
            <br />
            <br />
        </h2>
        <div class="row">
            <div class="col-md-6">
                <p style="text-align: justify;">
                    First things first. Network Design refers to how a network infrastructure is designed, planned and
                    structured. It’s like the blueprint for the actual, physical implementation of the network. The
                    design has to be made before the infrastructure is implemented. Network design often is a very
                    complex process that involves a lot of evaluation, scoping and adjusting.
                    <br />
                    <br />
                    The design includes a logical network map, placing the right compute nodes (processing nodes) and
                    storage nodes (SSD/HDD), a cabling structure, the number of devices and their location, the IP
                    addressing structure and the security architecture.
                </p>
            </div>
            <div class="col-md-6">
                <p style="text-align: justify;">
                    Every network design uses the OSI network model, which is composed of seven layers:
                    <br />
                    <br />
                    <span class="yellow">
                        1. Physical layer <br />
                        2. Data link layer <br />
                        3. Network layer <br />
                        4. Transport layer<br />
                        5. Session layer<br />
                        6. Presentation layer<br />
                        7. Application layer<br /></span>
                </p>
            </div>
        </div>
    </div>


    <div class="container" style="margin-top: 100px;">
        <h2 style="text-align: left;">
            Hierarchical <span class="yellow">Network Design</span> and its benefits
            <br />
            <br />
        </h2>
        <div class="row">
            <div class="col-md-6">
                <p style="text-align: justify;">
                    At Reboot Monkey, we make use of Hierarchical Network Design. This type of design divides the
                    network into separate layers (or tiers) that all have their own function and role within the
                    network. This type of design makes it easier to optimize and select the right network hardware.
                    <br />
                    <br />
                    Typically, a hierarchical network design would include three layers: the access layer, the
                    distribution layer and the core layer.
                </p>
            </div>
            <div class="col-md-6">
                <p style="text-align: justify;">
                    The access layer is responsible for providing user access to the network; the distribution layer
                    offers connectivity and has control over the boundary between the access and core layer; and the
                    core layer guarantees the fast transport between distribution switches. The interplay between these
                    layers determine the performance of the network.
                </p>
            </div>
        </div>
    </div>


    <div class="container" style="margin-top: 100px;">
        <h2 style="text-align: left;">
            Security and accuracy in your <span class="yellow">Network Design</span>
            <br />
            <br />
        </h2>
        <div class="row">
            <div class="col-md-12">
                <p>
                    A good network design is created with an eye for the smallest details. It’s the foundation for
                    efficient network monitoring and maintenance, so any mistake could later on prove detrimental. It’s
                    crucial to understand how different network parts fit and work together. This is where a topology
                    map usually comes into play, which establishes a strong network without single points of failure.
                    <br />
                    <br />
                    Ultimately, a strong network with a well-planned design performs better, has more scalability
                    options, is more secure and resilient, and makes monitoring a lot easier.
                </p>
            </div>
        </div>
    </div>

</div>



<div class="second-section">
    <div class="container">
        <div class="row breakdown">
            <div class="col-md-5">
                <h2>
                    Let us design your Network
                </h2>
                <br />
                <p>
                    By choosing Reboot Monkey, you’re fully unburdened from any data center problems or challenges that
                    you may face. Our IT specialists love getting their hands dirty and provide you with full supply
                    chain <a class="yellow" (click)="openContactUs()">service and support.</a>
                </p>
                <br />
                <a class="yellow" (click)="openContactUs()">
                    Request more information about Rack & Network Design, tell us about your needs or challenges and let
                    us provide you with information focused on your situation.
                </a>
            </div>
            <div class="col-md-7" style="text-align: left;">
                <h2 class="yellow">
                    You can expect from us:
                </h2>
                <div class="expectation">
                    <img  alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Complete service from A to Z
                    </p>
                </div>
                <div class="expectation">
                    <img  alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Team of experts with a big
                        passion for Hardware & IT
                    </p>
                </div>
                <div class="expectation">
                    <img  alt="tick" src="../../../../assets/tick.webp" />
                    <p>
                        Varied range of products and
                        services
                    </p>
                </div>
            </div>
            <div class="col-md-12 btns">
                <a class="btn-primary outlined" (click)="openContactUs()">
                    Contact
                </a>
                <a class="btn-primary" (click)="openContactUs()">
                    Start Quote
                </a>
            </div>
        </div>
    </div>
</div>