<div class="container-fluid yellow-bg">
    <rm-logo-particles class="careers-particles" [logoCount]="60"></rm-logo-particles>

    <div class="container">
        <div class="section-header row">
            <nav class="beardcumb"
                style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/about-us']">About us</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Careers</li>
                </ol>
            </nav>
            <div class="col-lg-8">
                <div>

                    <h1 style="font-family: Avenir LT Std;" class="heading">
                        Careers
                    </h1>
                    <p style="font-weight: normal; line-height: normal;">
                        Every day we brush shoulders with incredibly talented and <br>professional people.
                    </p>
                    <a class="btn-primary btn-get-quote black outlined theme-banner-btn"
                        style="font-family: Avenir LT Std;" target="_blank" href="https://jobs.rebootmonkey.com/">
                        Join Our Team
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <img class="header-img" src="../../../assets/careers.webp" />
            </div>
        </div>
    </div>
</div>

<div class="careers-bg">
    <div class="container text-center">
        <div class="inner-width">
            <h2 style="font-family: Avenir LT Std; color: #fff;" class="heading">
                <span style="border-bottom: 2px solid #F0DE00;">Com</span>e Work With Us
            </h2>
            <h3 style="font-weight: bold;">
                and create a career you love
            </h3>
            <p class="para-change">
                When you Reboot Monkey, you gain the opportunity to continue learning and to advance your career while
                working with other highly skilled professionals.
            </p>
            <a class="btn-primary outlined" style="font-family: Avenir LT Std;" target="_blank"
                href="https://jobs.rebootmonkey.com/">
                Join Our Team
            </a>
        </div>
    </div>
</div>

<div class="counters-bg">
    <div class="container">
        <div class="row">
            <div class="col-md col-sm-6 text-center counter-container">
                <img src="../../../assets/c1.webp" />
                <br />
                <strong style="font-family: 'Avenir LT Std';">05</strong>
                <p style="font-weight: normal;">Countries</p>
            </div>
            <div class="col-md col-sm-6 text-center counter-container">
                <img src="../../../assets/c2.webp" />
                <br />
                <strong>20+</strong>
                <p>Employees</p>
            </div>
            <div class="col-md col-sm-6 text-center counter-container">
                <img src="../../../assets/c3.webp" />
                <br />
                <strong>06</strong>
                <p>Offices</p>
            </div>
            <div class="col-md col-sm-6 text-center counter-container">
                <img src="../../../assets/c4.webp" />
                <br />
                <strong>100+</strong>
                <p>Customers</p>
            </div>
            <div class="col-md col-sm-6 text-center counter-container">
                <img src="../../../assets/c5.webp" />
                <br />
                <strong>400+</strong>
                <p>Projects</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-7 para">
            <h2 style="font-family: Avenir LT Std; color: #fff" class="heading">
                <br />
                What makes Reboot Monkey unique?
            </h2>
            <p style="font-weight: normal; line-height: normal;">
                Reboot Monkey is a purpose-driven company that considers our team our most important asset. We are
                looking for talented professionals with a deep understanding of IT solutions and a passion for customer
                service and support.
                <br><br>
                The ideal candidate wants to invest in the company's future and be part of an
                energetic team. Join a team that motivates you to excellence and take your career to new heights.
                <br><br>
                <span style="color:#F0DE00; border-bottom: 1px solid #F0DE00;">See More</span>
            </p>
        </div>
        <div class="col-lg-5">
            <img src="../../../assets/employees.webp" />
        </div>
    </div>
</div>
<div class="counters-bg text-ch">
    <div class="container">
        <div class="row mar-botm">
            <h2 style="font-family: Avenir LT Std; color: #fff" class="heading">

                <span style="border-bottom: 2px solid #F0DE00;">Our</span> Open Positions
                <br><br>
            </h2>
            <div class="col-md col-sm-6 text-center counter-container position">
                <img src="../../../assets/p1.webp" />
                <p>
                    Marketing
                </p>
            </div>
            <div class="col-md col-sm-6 text-center counter-container position">
                <img src="../../../assets/p2.webp" />
                <p>
                    Software<br />Developer
                </p>
            </div>
            <div class="col-md col-sm-6 text-center counter-container position">
                <img src="../../../assets/p3.webp" />
                <p>
                    Accounting
                </p>
            </div>
            <div class="col-md col-sm-6 text-center counter-container position">
                <img src="../../../assets/p4.webp" />
                <p>
                    Engineering
                </p>
            </div>
            <div class="col-md col-sm-6 text-center counter-container position">
                <img src="../../../assets/p5.webp" />
                <p>
                    Human<br />Resources
                </p>
            </div>
            <div class="col-md col-sm-6 text-center counter-container position">
                <img src="../../../assets/p6.webp" />
                <p>
                    Adminstration
                </p>
            </div>
            <div class="col-md col-sm-6 text-center counter-container position">
                <img src="../../../assets/p7.webp" />
                <p>
                    Business<br />Development
                </p>
            </div>
        </div>
        <div class="text-center">
            <a class="btn-primary outlined" target="_blank" href="https://jobs.rebootmonkey.com/"
                style="font-family: Avenir LT Std;">
                View our open positions
            </a>
        </div>
        <br />
        <br />
    </div>
</div>

<div class="container text-ch">
    <h2 style="font-family: Avenir LT Std; color: #fff;" class="heading">
        <br />
        <span style="border-bottom: 2px solid #F0DE00;">Glob</span>al Company Benefits
        <br />
        <br />
    </h2>
    <div class="row benefits-area">
        <div class="col-lg-3 text-center">
            <img src="../../../assets/b1.webp" width="100px" />
            <br />
            <strong>Be well</strong>
            <p>
                Happy and healthy employees are important to us. We take care of you from free lunch & fresh fruits
                every day to team sports and mindful yoga.
            </p>
        </div>
        <div class="col-lg-3 text-center">
            <img src="../../../assets/b2.webp" width="100px" />
            <br />
            <strong>Fun & Pride</strong>
            <p>
                We strongly believe that you learn the best while having fun. Our Fun & Pride team is constantly
                surprising us with all kinds of events throughout the year.
            </p>
        </div>
        <div class="col-lg-3 text-center">
            <img src="../../../assets/b3.webp" width="100px" />
            <br />
            <strong>Reboot Monkey family</strong>
            <p>
                Besides work, we like to get together for Friday drinks, tennis tournaments, team events, BBQs, Easter
                lunches, and Christmas parties.
            </p>
        </div>
        <div class="col-lg-3 text-center">
            <img src="../../../assets/b4.webp" width="100px" />
            <br />
            <strong>Pension</strong>
            <p>
                It's never too late to start saving. Reboot Monkey provides employees with a comprehensive pension plan
                and health coverage benefits whether you're single, raising a family, or nearing retirement.
            </p>
        </div>
        <!-- <div class="col-lg-4 text-center">
            <img src="../../../assets/b5.webp" width="100px"/>
            <br/>
            <strong>Never stop learning</strong>
            <p>
                Learning is the passport to the future. Reboot Monkey strives to create and sustain a learning culture so you can develop yourself. We do that by providing learning resources, career paths, and personal development programs.
            </p>
        </div> -->
    </div>
    <br />
    <br />
</div>
<div class="container text-ch boxes">
    <h2 style="font-family: Avenir LT Std; color: #fff;" class="heading">
        <br />
        <span style="border-bottom: 2px solid #F0DE00;">Our</span> Values
    </h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="hover-icon-box">
                <div class="imag-box">
                    <img src="../../../assets/Integrity & Ethics.webp" alt="">
                </div>
                <h3 class="">Integrity & Ethics</h3>
                <p>We believe in aligning our beliefs and intentions with our words and actions.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="hover-icon-box-1">
                <div class="imag-box">
                    <img src="../../../assets/partner.webp" alt="">
                </div>
                <h3 class="">Customer First</h3>
                <p>Customer service is not just a department, it’s the entire company.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="hover-icon-box-2">
                <div class="imag-box">
                    <img src="../../../assets/services.webp" alt="">
                </div>
                <h3 class="">Pursuit of Opportunity</h3>
                <p>We convert opportunities to success. Initiate, fail, learn, and repeat - No excuses!</p>
            </div>
        </div>
    </div>
    <div class="row col-set-top">
        <div class="col-lg-6">
            <div class="hover-icon-box-1">
                <div class="imag-box">
                    <img src="../../../assets/it expert.webp" alt="">
                </div>
                <h3 class="">Trust & Support</h3>
                <p>We are creating a culture of inclusion, individual expression, and diversity of option.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="hover-icon-box-2">
                <div class="imag-box">
                    <img src="../../../assets/Component 2.webp" alt="">
                </div>
                <h3 class="">Constructive Open Feedback</h3>
                <p>We believe in being the most prominent critics, formidable challengers, and stoutest supportes.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hover-icon-box">
                <div class="imag-box">
                    <img src="../../../assets/giving back.webp" alt="">
                </div>
                <h3 class="">Giving Back</h3>
                <p>We believe giving back is everyday conduct, not just occasional charity.</p>
            </div>
        </div>
    </div>
    <div class="botom-imag">
    </div>
</div>